/**
 * @author              Steven Palmer
 * @author url          http://coalaweb.com
 * @author email        support@coalaweb.com
 * @copyright           Copyright (c) 2016 Steven Palmer All rights reserved.
*/

/* Module configuration styling
------------------------------------------------------------------------------*/
::-moz-selection { background: #fec23d; color: #fff }

::selection { background: #fec23d; color: #fff }


#jform_params_tabs_data-lbl,

#jform_params___field1-lbl,

#invisible { display: none; }

span.unit { line-height:34px; }

.pane-sliders .panel { border: none !important; }

div.panel > h3 { 
    height: 43px; 
    border: 1px solid #d8d8d8; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px; 
    font: bold 12px/43px Arial, Helvetica, sans-serif; 
    text-transform: uppercase; 
}

div.panel > h3 a { color: #333; text-shadow: 0 1px 1px #fff; }

div.panel > h3 a:hover,

div.panel h3.pane-toggler-down a { color: #1272A5 }

div.panel h3.pane-toggler-down { border-bottom: 4px solid #1272A5 !important }

.pane-toggler span { background: transparent url('../images/icons/cw-panel-arrow.png') no-repeat 5px 50% !important; }

.pane-toggler-down span { background: transparent url('../images/icons/cw-panel-arrow-down.png') no-repeat 5px 50% !important; }

.pane-sliders .content { 
    margin: 4px auto; 
    width: 99%; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px; 
}

/* form elements in the container */
.panel fieldset.panelform > ul > li > label { 
    color: #444; 
    font-size: 11px; 
    font-weight: bold; 
    height: 24px; 
    line-height: 24px; 
    padding: 0 20px 0 10px; 
    text-align: right; 
    max-width: 40%!important; 
    min-width: 30%!important; 
}

fieldset.panelform input { 
    height: 16px; 
    color: #555; 
    line-height: 16px; 
    padding: 4px;  
}

span.spacer label {
    color: #1272A5;
    font: bold 14px/30px Arial, Helvetica, sans-serif; 
    text-transform: uppercase;
    text-align: left;
    margin-top:-10px;
    margin-bottom:-10px;
}

fieldset.panelform input.small { width: 40px; }

fieldset.panelform input.tright { text-align: right; }

fieldset.panelform input[type=button] { 
    height: 26px; 
    line-height: 26px; 
}

fieldset.panelform select { 
    color: #555; 
    line-height: 24px; 
    padding: 4px; 
    font-size:11px; 
    border-radius: 2px; 
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
}

fieldset.panelform select.position { width: 80px!important; }

fieldset.panelform textarea { 
    padding: 4px; 
    border-radius: 2px; 
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
}

fieldset.panelform .label { 
    font-size: 11px; 
    font-weight: bold; 
    width: auto; 
    padding: 0 5px; 
    line-height:34px; 
}

fieldset.panelform .desc { 
    font-size: 11px; 
    font-weight: normal; 
    width: auto; 
    padding: 10px; 
}

fieldset.adminform fieldset.radio, 
fieldset.panelform fieldset.radio, 
fieldset.adminform-legacy fieldset.radio { 
    margin: 5px !important;
    padding: 0;
}

/* End
------------------------------------------------------------------------------*/

/* Module description styling
------------------------------------------------------------------------------*/
.cw-module { 
    padding: 0px 10px; 
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
    font-size:13px !important; 
    font-weight: normal !important; 
    text-align: justify; color: #4d4d4d; 
}

.cw-module h1 { 
    clear:both; 
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
    font-size:38px; 
    margin:10px 5px; 
    padding:0px 0px 5px 0px; 
    color:#333; 
    font-weight: normal;
    background:none !important;
}

.cw-module h3 { 
    clear:both; 
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
    font-size:22px; 
    margin:15px 5px 10px 5px; 
    padding:0px; 
    color:#333;  
    font-weight: normal;
    background:none !important;
}

.cw-module em, .cw-module strong {
    color:#1272A5;
    font-weight: bold;
}

.cw-module p { margin: 10px }

.cw-module p a, span.cw-module ul a  { 
    color: #1272A5; 
    text-decoration:none; 
}

.cw-module p a:hover, span.cw-module ul a:hover  { 
    color: #419EC9; 
    text-decoration:none; 
}

.cw-module p a:hover, span.cw-module ul a:hover  {
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.cw-module ul li {
    margin-left:10px;
    background: transparent url('../images/icons/cw-panel-arrow.png') no-repeat 5px 50% !important;
    padding-left:20px;
    list-style: none outside none;
}

/* End
------------------------------------------------------------------------------*/

/* Messages
------------------------------------------------------------------------------*/
/* General message */
.cw-message p.info,.cw-message p.alert,.cw-message p.vote,.cw-message p.upgrade {
    padding: 10px 10px 10px 40px;
    line-height: 18px;
    margin: 10px 20px;
    border-radius: 5px;
    text-align: left;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #4D4D4D;
}

.cw-message p a,.cw-message ul a {
    color: #1272A5;
    text-decoration: none;
}

.cw-message p a:hover,.cw-message ul a:hover {
    color: #419EC9;
    text-decoration: none;
}

/* Info Message */
.cw-message p.info a,.cw-message p.info em {
    color: #1272A5;
}

.cw-message p.info {
    background: url(../images/icons/cw-info.png) no-repeat scroll 0 0 #EBF5FA;
    border: 1px solid #D2DCE1;
}

/* Alert Message */
.cw-message p.alert a,.cw-message p.alert em {
    color: #B1191C;
}

.cw-message p.alert a:hover {
    color: #D85863;
}

.cw-message p.alert {
    background: url(../images/icons/cw-alert.png) no-repeat scroll 0 0 #FFF0EB;
    border: 1px solid #FFD7CD;
}

/* Vote Message */
.cw-message p.vote a,.cw-message p.vote em {
    color: #268413;
}

.cw-message p.vote a:hover {
    color: #b0bf7f;
}

.cw-message p.vote {
    background: url(../images/icons/cw-vote.png) no-repeat scroll 0 0 #FAFFE6;
    border: 1px solid #DCE6BE;
}

/* Upgrade message*/
.cw-message p.upgrade a,.cw-message p.upgrade em {
    color: #CE6A23;
}

.cw-message p.upgrade a:hover {
    color: #E2AB53;
}

.cw-message p.upgrade {
    background: url(../images/icons/cw-forum.png) no-repeat scroll 0 0 #FFFAE6;
    border: 1px solid #FAE6BE;
}

/* END Messages
------------------------------------------------------------------------------*/

/* Sorting Style */
body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ul#sortable {
    float: left;
    list-style: none;
}

ul#sortable li {
    background: #ECECEC;
    border-color: #D8D8D8 #D8D8D8 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    margin: 4px 0px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.027), 0 1px 0 rgba(255, 255, 255, 0.69) inset, 0 -1px 0 rgba(0, 0, 0, 0.02) inset, 0 15px 14px rgba(255, 255, 255, 0.57) inset;
    color: #666666;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.59);
    cursor: move !important;
    min-width:150px;
}

ul#sortable .sort span {
    margin-top: -2px;
    height: 24px;
    width: 24px;
    display: block;
    float: left;
    background: url("../images/icons/cw-drag.png") no-repeat scroll 0 0; 
    padding-right: 10px;
}

/* End
------------------------------------------------------------------------------*/