/**
 * @author              Steven Palmer
 * @author url          http://coalaweb.com
 * @author email        support@coalaweb.com
 * @copyright           Copyright (c) 2016 Steven Palmer All rights reserved.
 */

.cw-likebox-mod_copyrht{
    text-align: center;
    display:block;
    clear:both;
    font-size: 12px;
    margin:15px 0 0;
}

.cwlikebox100 {width: 100%; margin-left: auto; margin-right: auto; }
.cwlikebox90 {width: 90%; margin-left: auto; margin-right: auto; }
.cwlikebox80 {width: 80%; margin-left: auto; margin-right: auto; }
.cwlikebox70 {width: 70%; margin-left: auto; margin-right: auto; }
.cwlikebox60 {width: 60%; margin-left: auto; margin-right: auto; }
.cwlikebox50 {width: 50%; margin-left: auto; margin-right: auto; }

#likebox-wrapper * {
   width: 100% !important;
   overflow-y:auto !important;
  overflow-x:hidden !important;
}
   
.fb-comments, .fb-comments span, .fb-comments iframe[style], 
.fb-comments iframe span[style], .fb-like-box, .fb-like-box span, 
.fb-like-box iframe[style], .fb-like-box iframe span[style] {
  width: 100% !important;
  overflow-y:auto !important;
  overflow-x:hidden !important;
}

