/**
 * @author              Steven Palmer
 * @author url          http://coalaweb.com
 * @author email        support@coalaweb.com
 * @copyright           Copyright (c) 2016 Steven Palmer All rights reserved.
*/

.grid-box .cwsl-content, .cwsl-content { 
    float: none;
    width:100%;
    margin:5px 2px !important;
    height:auto;
    display:inline-block;
    position:relative;
    text-align:left;
}

.grid-box .width50 .cwsl-content { height:auto; }
.grid-box .width33 .cwsl-content { height:auto; }
.grid-box #k2Container .cwsl-content { height:auto;}

ul.cwsl-content-items {
    margin: 0 !important;
    padding: 0!important;
    list-style: none;
}

ul.cwsl-content-items li {
    padding: 0px !important;
    margin-right:5px !important;
    display:inline-block;
    vertical-align: middle;
}

.cwsl-content-t { width:auto; }
.cwsl-content-gp { width:50px; }
.cwsl-content-pi { width:auto;}
.cwsl-content-xi { width:auto;}
.cwsl-content-sli { width:auto; }
.cwsl-content-like { width:auto; }
.cwsl-content-likeshare { width:auto; }
.cwsl-content-mc { 
    width:auto;
    margin-bottom:1px;
}
.cwsl-content-share {
    margin-left:5px;
    width:auto;
}
.cwsl-content-like,.cwsl-content-likeshare,
.cwsl-content-share, .cwsl-content-t, 
.cwsl-content-gp, .cwsl-content-pi,
.cwsl-content-xi, .cwsl-content-sli,
.cwsl-content-mc {
    height:25px;
}

/* Make drop downs visible on certain templates */
.item-page, .items-leading{
    overflow: visible !important;
}

iframe,svg {
  max-width: inherit !important;
}

.fb_iframe_widget_lift{
    min-width:500px !important;
}