/*! UIkit 2.26.2 | http://www.getuikit.com | (c) 2014 YOOtheme | MIT License */
/* ========================================================================
   Component: Sticky
 ========================================================================== */
/*
 * 1. More robust if padding and border are used
 */
[data-cw-sticky].cw-active {
  z-index: 980;
  /* 1 */
  box-sizing: border-box;
}
/*
 * Faster animations
 */
[data-cw-sticky][class*='cw-animation-'] {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
[data-cw-sticky].cw-animation-reverse {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
