/**
 * @author              Steven Palmer
 * @author url          http://coalaweb.com
 * @author email        support@coalaweb.com
 * @copyright           Copyright (c) 2016 Steven Palmer All rights reserved.
*/

/* YooTheme Zoo specific
-----------------------------------------------------------------------------*/
#yoo-zoo .item div.pos-top {
    overflow: visible;
}
#yoo-zoo .row, #yoo-zoo .floatbox {
    overflow: visible;
}
#yoo-zoo .item div.pos-top .element {
    overflow: visible;
}
#yoo-zoo div.box-1 {
    overflow: visible;
}
#yoo-zoo .item div.pos-bottom {
    overflow: visible;
}
#yoo-zoo .items div.teaser-item-bg {
    overflow: visible;
}
#yoo-zoo .items {
    overflow: visible;
}
.yoo-zoo .cwsl-zoo { 
    float: none;
    width:100%;
    margin:5px 2px !important;
    height:auto;
    display:inline-block;
    position:relative;
    text-align:right;
}

/* End
-----------------------------------------------------------------------------*/
ul.cwsl-zoo-items {
    margin: 0 !important;
    padding: 0!important;
    list-style: none;
}

ul.cwsl-zoo-items li {
    padding: 0px !important;
    margin-left:5px !important;
    display:inline-block;
    vertical-align: middle;
}

.cwsl-zoo-t { width:auto; }
.cwsl-zoo-gp { width:60px; }
.cwsl-zoo-pi { width:auto;}
.cwsl-zoo-xi { width:auto;}
.cwsl-zoo-sli { width:auto; }
.cwsl-zoo-like { width:auto; }
.cwsl-zoo-likeshare { width:auto; }
.cwsl-zoo-mc { 
    width:auto;
    margin-bottom:1px;
}
.cwsl-zoo-share {
    margin-right:5px;
    width:auto;
}
.cwsl-zoo-like,.cwsl-zoo-likeshare,
.cwsl-zoo-share, .cwsl-zoo-t, 
.cwsl-zoo-gp, .cwsl-zoo-pi,
.cwsl-zoo-xi, .cwsl-zoo-sli,
.cwsl-zoo-mc {
    height:25px;
}

/* End
-----------------------------------------------------------------------------*/

/* Make drop downs visible on certain templates 
------------------------------------------------------------------------------*/
.item-page, .items-leading{
    overflow: visible !important;
}

iframe,svg {
  max-width: inherit !important;
}

.fb_iframe_widget_lift{
    min-width:500px !important;
}

/* End
-----------------------------------------------------------------------------*/