/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/* ============================== DEFAULT HTML ============================== */
/* =============== DEFAULT HTML - GENERAL STYLES =============== */
html, body {
	line-height: 1.7;
	margin: 0;
	padding: 0;
	overflow: inherit !important;
}
body {
	font-size: 75%;
	font-family: Arial, Helvetica, sans-serif;
}
/* =============== DEFAULT HTML - TEXT STYLES =============== */
p, pre, blockquote, form, dl, ul, ol, fieldset, address, table {
	padding: 0;
	margin: 10px 0;
}
p:first-child,
blockquote:first-child,
form:first-child,
dl:first-child,
ul:first-child,
ol:first-child,
fieldset:first-child,
address:first-child,
table:first-child {
	margin-top: 5px;
}
p:last-child,
blockquote:last-child,
form:last-child,
dl:last-child,
ul:last-child,
ol:last-child,
fieldset:last-child,
address:last-child,
table:last-child {
	margin-bottom: 5px;
}
fieldset {
	padding: 10px;
}
.jsn-joomla-30 fieldset {
	padding: 0;
	margin: 0;
}
small {
	font-size: .85em;
}
sup {
	bottom: 0.3em;
	font-size: .8em;
	position: relative;
	vertical-align: baseline;
}
sup em {
	color: red;
}
acronym, abbr {
	cursor: help;
	letter-spacing: 1px;
	border-bottom: 1px dashed;
}
pre {
	padding: 1em;
	background: #FFFFD5;
	border-left: 5px solid #404040;
	font-family: "Courier New",Courier,monospace;
}
blockquote {
	color: #404040;
	min-height: 45px;
	font-style: italic;
	padding-left: 60px;
	background: url(../images/icons/icon-text-blockquote.png) no-repeat top left;
}
blockquote p {
	font-size: 1em;
	line-height: inherit;
}
/* =============== DEFAULT HTML - HEADING STYLES =============== */
h1 {
	font-size: 1.6em;
}
h2 {
	font-size: 1.4em;
}
h3 {
	color: #cc0000;
	font-size: 1.3em;
}
h4 {
	color: #D59500;
	font-size: 1.2em;
}
h5, h6 {
	font-size: 1.1em;
	font-weight: bold;
}
h5 {
	color: #5A8406;
}
h6 {
	color: #663300;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0.5em 0;
	font-weight: normal;
}
/* =============== DEFAULT HTML - LINK STYLES =============== */
a {
	outline: none;
	text-decoration: none;
}
a:hover {
	color: #444;
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
a img {
	border: none;
}
/* =============== DEFAULT HTML - LIST STYLES =============== */
ul li {
	padding: 0;
	margin: 0.3em 0 0.3em 1.6em;
}
ol li {
	padding: 0;
	margin: 0.3em 0 0.3em 2em;
}
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - GENERAL LAYOUT =============== */
.clearafter:after {
	height: 0;
	clear: both;
	content: ".";
	display: block;
	visibility: hidden;
}
.clearbreak {
	clear: both;
}
div.jsn-modulecontainer {
	margin-top: 20px;
}
div.jsn-modulecontainer:first-child,
div.jsn-horizontallayout div.jsn-modulecontainer {
	margin-top: 0;
}
div.jsn-modulescontainer {
	padding: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
div.jsn-modulescontainer5.jsn-horizontallayout div.jsn-modulecontainer {
	width: 23.404255319148934%;
	margin-left: 2.127659574468085%;
}
div.jsn-modulescontainer5.jsn-horizontallayout div.jsn-modulecontainer:first-child {
	margin-left: 0;
}
div.jsn-modulescontainer5.jsn-horizontallayout div.jsn-modulecontainer:last-child {
	margin-left: 0;
	margin-top: 2.127659574468085%;
	clear: left;
}
/* =============== LAYOUT - OVERALL PAGE =============== */
#jsn-master {
	background: repeat-x fixed left top;
}
#jsn-page {
	color: #000;
	margin: 0 auto;
	width: 960px;
	border-left: 2px solid #000000;
	border-right: 2px solid #000000;
	overflow-x: hidden;
}
#jsn-page-inner {
	background-color: #fff;
}
/* ----- STICKLEFT / STICKRIGHT ----- */
div[id*=jsn-pos-stick-] {
	position: fixed;
	z-index: 888888;
}
div[id*=jsn-pos-stick-left] {
	left: 0;
}
div[id*=jsn-pos-stick-right] {
	right: 0;
}
#jsn-pos-stick-leftmiddle,
#jsn-pos-stick-rightmiddle {
	visibility: hidden;
}
#jsn-pos-stick-leftbottom,
#jsn-pos-stick-rightbottom {
	bottom: 0;
}
/* =============== LAYOUT - TOPBAR AREA =============== */
#jsn-topbar {
	background-color: #282828;
	padding: 5px 0;
}
#jsn-pos-topbar {
	color: #ffffff;
	margin: 0 auto;
	width: 960px;
}
#jsn-pos-topbar a {
	color: #ffffff;
}
#jsn-pos-topbar .jsn-modulecontainer {
	float: right;
}
/* =============== LAYOUT - LAYOUT CHANGING =============== */
/* ----- PROMO AREA ----- */
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid  #jsn-pos-promo.order1 + #jsn-pos-promo-left.order3 .jsn-modulecontainer,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo-left.order2 #jsn-pos-promo-right.order3 .jsn-modulecontainer,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo-left.order2[class*="offset-"] .jsn-modulecontainer,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo-left.order1 + #jsn-pos-promo-right.order2 .jsn-modulecontainer,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo-left.order2 + #jsn-pos-promo-right.order3 .jsn-modulecontainer {
    margin-left: -5px;
    margin-right: 15px;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo-right.order2 .jsn-modulecontainer,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo-left.order2 .jsn-modulecontainer,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo-right.order1 .jsn-modulecontainer,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo:not(.order2) + #jsn-pos-promo-left.order1 .jsn-modulecontainer {
    margin-right: -5px;
    margin-left: 15px;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span1[class*="order"] > div {
    margin: 0 -33.3333%;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2[class*="order"] > div {
    margin: 0 -14.2857%;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3[class*="order"] > div {
    margin: 0 -9.0909%;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4[class*="order"] > div {
    margin: 0 -6.6667%;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span5[class*="order"] > div {
    margin: 0 -5.2632%;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6[class*="order"] > div {
    margin: 0 -4.3478%;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7[class*="order"] > div {
    margin: 0 -3.7037%;
}
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8[class*="order"] > div {
    margin: 0 -3.2258%;
}
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span9 > div,
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9.order1 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9.order1 > div {
    margin: 0 -2.8571% 0 0;
}
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span10 > div,
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9.order10 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span10.order1 > div {
    margin: 0 -2.5641% 0 0;
}
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span8 > div,
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8.order1 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8.order1 > div {
    margin: 0 -3.2258% 0 0;
}
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span7 > div,
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7.order1 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7.order1 > div {
    margin: 0 -3.7037% 0 0;
}
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span6 > div,
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6.order1 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6.order1 > div {
    margin: 0 -4.3478% 0 0;
}
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span5 > div,
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span5.order1 > div {
    margin: 0 -5.2632% 0 0;
}
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span4 > div,
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4.order1 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4.order1 > div {
    margin: 0 -6.6667% 0 0;
}
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span3 > div,
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3.order1 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3.order1 > div {
    margin: 0 -9.0909% 0 0;
}
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span2 > div,
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2.order1 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2.order1 > div {
    margin: 0 -14.2857% 0 0;
}
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9 > div,
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span9.order2 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9.order3 > div {
    margin: 0 0 0 -2.8571%;
}
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span10 > div,
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span10.order2 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span10.order3 > div {
    margin: 0 0 0 -2.5641%;
}
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8 > div,
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span8.order2 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8.order3 > div {
    margin: 0 0 0 -3.2258%;
}
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7 > div,
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span7.order2 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7.order3 > div {
    margin: 0 0 0 -3.7037%;
}
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6 > div,
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span6.order2 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6.order3 > div {
    margin: 0 0 0 -4.3478%;
}
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span5 > div,
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span5.order2 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span5.order3 > div {
    margin: 0 0 0 -5.2632%;
}
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4 > div,
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span4.order2 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4.order3 > div {
    margin: 0 0 0 -6.6667%;
}
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3 > div,
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span3.order2 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3.order3 > div {
    margin: 0 0 0 -9.0909%;
}
#jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2 > div,
#jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span2.order2 > div,
#jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2.order3 > div {
    margin: 0 0 0 -14.2857%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span1[class*="order"] > div {
    margin: 0 -42.8571%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2[class*="order"] > div {
    margin: 0 -17.6471%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3[class*="order"] > div {
    margin: 0 -11.1111%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4[class*="order"] > div {
    margin: 0 -8.1081%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span5[class*="order"] > div {
    margin: 0 -6.383%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6[class*="order"] > div {
    margin: 0 -5.2632%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7[class*="order"] > div {
    margin: 0 -4.4776%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8[class*="order"] > div {
    margin: 0 -3.8961%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span9 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9.order1 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9.order1 > div {
    margin: 0 -3.4483% 0 0;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span10 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9.order10 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span10.order1 > div {
    margin: 0 -3.0928% 0 0;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span8 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8.order1 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8.order1 > div {
    margin: 0 -3.8961% 0 0;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span7 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7.order1 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7.order1 > div {
    margin: 0 -4.4776% 0 0;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span6 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6.order1 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6.order1 > div {
    margin: 0 -5.2632% 0 0;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span5 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span5.order1 > div {
    margin: 0 -6.383% 0 0;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span4 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4.order1 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4.order1 > div {
    margin: 0 -8.1081% 0 0;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span3 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3.order1 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3.order1 > div {
    margin: 0 -11.1111% 0 0;
}
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2.order1 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2.order1 > div {
    margin: 0 -17.6471% 0 0;
}
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span9.order2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span9.order3 > div {
    margin: 0 0 0 -3.4483%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span10 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span10.order2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span10.order3 > div {
    margin: 0 0 0 -3.0928%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span8.order2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span8.order3 > div {
    margin: 0 0 0 -3.8961%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span7.order2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span7.order3 > div {
    margin: 0 0 0 -4.4776%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span6.order2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span6.order3 > div {
    margin: 0 0 0 -5.2632%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span5 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span5.order2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span5.order3 > div {
    margin: 0 0 0 -6.383%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span4.order2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span4.order3 > div {
    margin: 0 0 0 -8.1081%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span3.order2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span3.order3 > div {
    margin: 0 0 0 -11.1111%;
}
.jsn-responsive #jsn-content-top.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright #jsn-promo.row-fluid #jsn-pos-promo.span2.order2 > div,
.jsn-responsive #jsn-content-top.jsn-haspromoright.jsn-haspromoleft #jsn-promo.row-fluid #jsn-pos-promo.span2.order3 > div {
    margin: 0 0 0 -17.6471%;
}
/* ----- Maincontent Area ----- */
#jsn-content.jsn-hasleft.jsn-hasright #jsn-content_inner2.jsn-flip #jsn-leftsidecontent.order2 > div,
#jsn-content.jsn-hasleft.jsn-hasright #jsn-content_inner2.jsn-flip #jsn-rightsidecontent.order2 > div {
	margin-left: -38px;
}
#jsn-content.jsn-hasright.jsn-hasleft #jsn-content_inner.jsn-flip #jsn-rightsidecontent.order2 > div,
#jsn-content.jsn-hasright.jsn-hasleft #jsn-content_inner.jsn-flip #jsn-leftsidecontent.order2 > div {
	margin-right: -40px;
}
#jsn-content.jsn-hasleft.jsn-hasright #jsn-content_inner.jsn-flip #jsn-content_inner2 {
	background: none;
}
#jsn-content.jsn-hasleft.jsn-hasright #jsn-maincontent #jsn-maincontent_inner {
	margin-left: -20px;
	margin-right: -20px;
}
#jsn-content.jsn-hasright #jsn-maincontent_inner,
#jsn-content.jsn-hasleft.jsn-hasright #jsn-maincontent.order1 #jsn-maincontent_inner {
	margin-right: -20px;
	margin-left: 0;
}
#jsn-content.jsn-hasleft #jsn-maincontent_inner,
#jsn-content.jsn-hasleft.jsn-hasright #jsn-maincontent.order3 #jsn-maincontent_inner,
#jsn-content.jsn-hasright .order2 #jsn-maincontent_inner,
#jsn-content.jsn-hasleft.jsn-hasright #jsn-maincontent.order3 #jsn-maincontent_inner {
	margin-left: -20px;
	margin-right: 0;
}
#jsn-content.jsn-hasleft #jsn-maincontent.order1 #jsn-maincontent_inner {
	margin-left: 0;
	margin-right: -20px;
}
#jsn-maincontent.span12[class*="order"],
#jsn-content.jsn-hasleft.jsn-hasright #jsn-maincontent.order2 {
	padding: 0;
}
/* ----- Component Area ----- */
#jsn-content.jsn-hasinnerleft:not([class*="jsn-hasinnerright"]) #jsn-maincontent.span12 #jsn-centercol {
	padding-right: 15px;
}
#jsn-content.jsn-hasinnerright:not([class*="jsn-hasinnerleft"]) #jsn-maincontent.span12 #jsn-centercol {
	padding-left: 15px;
}
#jsn-content.jsn-hasinnerleft.jsn-hasinnerright #jsn-maincontent.span12 #jsn-centercol {
	padding: 0;
}
/* =============== LAYOUT - HEADER AREA =============== */
#jsn-logo a {
	line-height: 100%;
	display: inline-block;
}
#jsn-headerright {
	padding: 34px 20px;
}
#jsn-pos-top form {
	margin: 0;
}
#jsn-pos-top div.jsn-modulecontainer {
	float: left;
	margin: 0 0 0 20px;
}
#jsn-pos-top div.jsn-modulecontainer:first-child {
	margin-left: 0;
}
/* =============== LAYOUT - MENU AREA =============== */
#jsn-menu {
	z-index: 999;
	color: #f2f2f2;
	position: relative;
	background-color: #282828;
}
#jsn-pos-toolbar {
	float: right;
}
#jsn-pos-toolbar div.jsn-modulecontainer {
	float: right;
	margin-left: 10px;
}
#jsn-pos-toolbar form {
	margin: 0;
}
/* =============== LAYOUT - CONTENT TOP AREA =============== */
#jsn-content-top {
	z-index: 88;
	color: #D4D4D4;
	padding-top: 3px;
	position: relative;
	border-bottom: 5px solid #404040;
	background: #595959 url(../images/backgrounds/bg-promo.jpg) left top repeat-x;
}

#jsn-content-top h3.jsn-moduletitle {
	color: #fff;
}
#jsn-pos-promo-left div.jsn-modulecontainer,
#jsn-pos-promo-right div.jsn-modulecontainer {
	margin: 15px;
}
/* =============== LAYOUT - CONTENT AREA =============== */
#jsn-content,
[id*="jsn-content_inner"] {
	position: relative;
}
#jsn-content {
	overflow: hidden;
}
#jsn-content,
[id*="jsn-content_inner"] {
	z-index: 87\0;
}
div.jsn-hasleft #jsn-content_inner {
	background: #E5E5E5 url(../images/backgrounds/bg-leftside.png) right top repeat-y;
}
div.jsn-hasright #jsn-content_inner2 {
	background: #E5E5E5 url(../images/backgrounds/bg-rightside.png) left top repeat-y;
}
div.jsn-hasright #jsn-content_inner2.jsn-flip {
    background-image: url("../images/backgrounds/bg-leftside.png");
    background-position: right top;
}
div.jsn-hasleft #jsn-content_inner.jsn-flip {
   background-image: url("../images/backgrounds/bg-rightside.png");
    background-position: left top;
}
div.jsn-hasinnerleft #jsn-content_inner4 {
	border-right: 1px solid #dedede;
}
div.jsn-hasinnerright #jsn-content_inner6 {
	border-left: 1px solid #dedede;
}
#jsn-leftsidecontent,
#jsn-rightsidecontent {
	z-index: 87;
}
#jsn-leftsidecontent_inner,
#jsn-rightsidecontent_inner,
#jsn-pos-innerleft_inner,
#jsn-pos-innerright_inner {
	padding: 15px;
}
#jsn-content.jsn-hasinnerleft.jsn-hasinnerright #jsn-centercol_inner {
	padding: 0;
	margin-left: -15px;
	margin-right: -15px;
}
#jsn-content.jsn-hasinnerleft #jsn-centercol_inner {
	margin-left: -15px;
}
#jsn-content.jsn-hasinnerright #jsn-centercol_inner {
	margin-right: -15px;
}
#jsn-mainbody {
	padding: 1.2em;
}
#jsn-pos-breadcrumbs {
	padding: 10px 15px;
}
#jsn-pos-breadcrumbs,
#jsn-pos-user-top,
#jsn-usermodules1,
#jsn-pos-mainbody-top,
#jsn-pos-user-bottom,
#jsn-pos-banner,
#jsn-usermodules2,
#jsn-pos-mainbody-bottom {
	background-image: url(../images/dot.png);
	background-repeat: repeat-x;
}
#jsn-pos-breadcrumbs,
#jsn-pos-user-top,
#jsn-usermodules1,
#jsn-pos-mainbody-top {
	background-position: left bottom;
}
#jsn-pos-user-bottom,
#jsn-pos-banner,
#jsn-usermodules2,
#jsn-pos-mainbody-bottom {
	background-position: left top;
}
#jsn-usermodules1_inner_grid2,
#jsn-usermodules2_inner_grid2 {
	width: 100%;
}
#jsn-pos-banner {
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}
/* =============== LAYOUT - CONTENT BOTTOM AREA =============== */
#jsn-content-bottom {
	z-index: 85;
	position: relative;
	border-top: 1px solid #ffffff;
	border-bottom: 6px solid #404040;
	background: #d9d9d9 url(../images/backgrounds/bg-usermodules3.png) left top repeat-x;
	box-shadow: inset 0 1px #FFF;
}
#jsn-pos-content-bottom + #jsn-usermodules3 {
	padding-top: 0;
}
/* =============== LAYOUT - FOOTER AREA =============== */
#jsn-footer {
	color: #595959;
	font-size: 0.9em;
	background-color: #fff;
	border-top: 1px solid #b3b3b3;
}
#jsn-footermodules {
}
#jsn-footer a {
	text-decoration: none;
}
#jsn-footer a:hover {
	text-decoration: underline;
}
#jsn-pos-bottom {
	text-align: right;
}
#jsn-brand {
	padding-top: 10px;
    display: block;
    padding: 3px 8px;
    color: #009ACA;
    text-align: center;
}
#jsn-brand a:hover {
	color: #fff;
	text-decoration: none;
}
/* ============================== TYPOGRAPHY ============================== */
/* =============== TYPOGRAPHY - GENERAL TYPOGRAPHY =============== */
.hd {
	display: none;
}
/* ----- PREDEFINED CONTENT ALIGN ----- */
.align-left {
	float: left;
}
.align-center {
	margin-left: auto;
	margin-right: auto;
}
.align-right {
	float: right;
}
.margin-left {
	margin-left: 1em;
	margin-right: 0;
}
.margin-right {
	margin-left: 0;
	margin-right: 1em;
}
.content-left {
	text-align: left;
}
.content-center {
	text-align: center;
}
.content-right {
	text-align: right;
}
/* =============== TYPOGRAPHY - CONTENT COLUMMNS =============== */
div.grid-layout2 div.grid-col {
	float: left;
	width: 49.95%;
}
div.grid-layout3 div.grid-col {
	float: left;
	width: 33.3%;
}
div.grid-layout4 div.grid-col {
	float: left;
	width: 24.96%;
}
div.grid-layout5 div.grid-col {
	float: left;
	width: 19.98%;
}
div.grid-layout6 div.grid-col {
	float: left;
	width: 16.65%;
}
div.grid-layout div.grid-col div.grid-col_inner {
	margin-right: 10px;
}
div.grid-layout div.grid-lastcol div.grid-col_inner {
	margin-right: 0;
}
/* =============== TYPOGRAPHY - TEXT STYLES =============== */
.text-box {
	padding: .8em;
	border: 1px solid #e5e5e5;
}
.text-box-highlight {
	padding: .8em;
	border: 1px solid transparent;
}
.text-box-highlight:hover {
	border-color: #d9d9d9;
	background-color: #f2f2f2;
}
.text-highlight {
	padding: .2em .5em;
	background: #FFFFAA;
}
.text-highlight.highlight-green {
	color: #fff;
	background: #48691b;
}
.text-highlight.highlight-light {
	color: #000;
	background: #e5e5e5;
}
.text-highlight.highlight-dark {
	color: #fff;
	background: #595959;
}
.text-dropcap p:first-child:first-letter,
p.text-dropcap:first-child:first-letter {
	color: #404040;
	font: 4em/.8em "Times New Roman", Times, serif;
	float: left;
}
.text-size-small {
	font-size: 0.9em;
}
.text-size-medium {
	font-size: 1em;
}
.text-size-large {
	font-size: 1.1em;
}
.text-size-xlarge {
	font-size: 1.2em;
}
.text-size-xxlarge {
	font-size: 1.3em;
}
hr.line-dots {
	border: none;
	padding: 0.5em 0;
	background: url(../images/dot.png) left center repeat-x;
}
hr.line-solid {}
/* ----- ACTION LINK ----- */
.link-action {
	font-weight: bold;
	padding: 1px 2px;
	text-decoration: none;
}
.link-action:hover {
	color: #ffffff;
	text-decoration: none;
}
/* ----- HIGHLIGHT LINK ----- */
.link-highlight {
	color: #595959;
	font-weight: bold;
	display: block;
	padding: 5px;
	border: 1px solid transparent;
}
.link-highlight:hover {
	color: #000;
	border-color: #d9d9d9;
	text-decoration: none;
	background-color: #f2f2f2;
}
/* ----- TOOLTIPS LINK ----- */
a.link-tooltip {
	position: relative;
}
a.link-tooltip:hover {
	z-index: 25;
}
a.link-tooltip span {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
}
a.link-tooltip:hover span {
	display: block;
}
/* =============== TYPOGRAPHY - LIST STYLES =============== */
/* ----- ARROW LIST ----- */
ul.list-arrow {
	list-style: none;
}
ul.list-arrow li {
	margin-left: 0;
	padding-left: 16px;
	position: relative;
	display: block;
}
ul.list-arrow li:after {
	content: '';
	height: 0;
	position: absolute;
	width: 0;
	border: 0.34em solid transparent;
	left: 5px;
	top: 4px;
}
ul.list-arrow.arrow-red li:after {
	border-left-color: #AE0000;
}
ul.list-arrow.arrow-blue li:after {
	border-left-color:#0060BF;
}
ul.list-arrow.arrow-green li:after {
	border-left-color: #3AA655;
}
/* =============== TYPOGRAPHY - IMAGES STYLES =============== */
img.image-left {
	float: left;
	margin: 0.5em 1em 0.5em 0;
}
img.image-right {
	float: right;
	margin: 0.5em 0.5em 0.5em 1em;
}
img.image-border {
	padding: 3px;
	border: 1px solid #e5e5e5;
}
img.image-margin {
	margin: .5em;
}
/* ============================== MENU ============================== */
/* =============== MENU - GENERAL =============== */
/* ----- RICH MENU STYLE ----- */
.jsn-menutitle,
.jsn-menudescription {
	display: block;
}
.jsn-menudescription {
	color: #B8B8B8;
	font-size: 0.9em;
	font-weight: normal;
}
/* =============== MENU - MAIN MENU =============== */
/* ----- GENERAL ----- */
div.jsn-modulecontainer ul.menu-mainmenu {
	margin: 0;
	padding: 0;
	clear: both;
}
div.jsn-modulecontainer ul.menu-mainmenu li {
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	list-style-type: none;
}
div.jsn-modulecontainer ul.menu-mainmenu > li {
	border-right: 1px solid #404040;
}
div.jsn-modulecontainer ul.menu-mainmenu li a {
	color: #CCC;
	display: block;
	cursor: pointer;
	padding: 8px 12px;
}
div.jsn-modulecontainer ul.menu-mainmenu > li > a {
	font-size: 1.1em;
	border-right: 1px solid #000;
}
div.jsn-modulecontainer ul.menu-mainmenu > li > a {
	padding: 10px 12px;
}
div.jsn-modulecontainer ul.menu-mainmenu li > a > span {
	display: block;
}
/* ----- RICH MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-mainmenu li a span.jsn-menudescription {
	display: none;
}
div.jsn-modulecontainer ul.menu-mainmenu.menu-richmenu li a span.jsn-menudescription {
	display: block;
	padding-top: 2px;
}
div.jsn-modulecontainer ul.menu-mainmenu.menu-richmenu > li > a.jsn-nodescription {
	padding: 10px 12px 30px;
}
/* ----- 1st LEVEL ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul {
	margin: 0;
	padding: 0;
	width: 200px;
	left: -999em;
	position: absolute;
}
div.jsn-modulecontainer ul.menu-mainmenu ul li {
	width: 200px;
}
div.jsn-modulecontainer ul.menu-mainmenu ul ul {
	top: 0;
	margin-left: 199px;
}
/* ----- PARENT ITEMS / ADD ARROW TO ITEMS HAVE SUBLEVEL ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul li.parent > a {
	padding-right: 16px;
	background: url(../images/icons/icon-arrow-white.png) 98% center no-repeat;
}
/* ----- HOVER STATE ----- */
div.jsn-modulecontainer ul.menu-mainmenu li:hover > a {
	color: #fff;
	text-decoration: none;
}
div.jsn-modulecontainer ul.menu-mainmenu > li:hover > a {
	background-color: #404040;
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-mainmenu li.active > a {
	color: #fff;
}
div.jsn-modulecontainer ul.menu-mainmenu > li.active > a {
	background-color: #404040;
}
/* ----- ROLLOVER STATE / DISPLAY SUB-MENU OF SELECTED MENU ITEM ----- */
div.jsn-modulecontainer ul.menu-mainmenu li:hover > ul {
	left: auto;
	right: auto;
}
/* =============== MENU - TREE MENU =============== */
/* ----- GENERAL ----- */
div.jsn-modulecontainer ul.menu-treemenu,
div.jsn-modulecontainer ul.menu-treemenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
div.jsn-modulecontainer ul.menu-treemenu {
	border-top: 1px dotted #b3b3b3;
}
div.jsn-modulecontainer ul.menu-treemenu li {
	margin: 0;
	padding: 0;
	position: relative;
}
div.jsn-modulecontainer ul.menu-treemenu > li {
	border-bottom: 1px dotted #b3b3b3;
}
div.jsn-modulecontainer ul.menu-treemenu li a {
	padding: 6px 12px;
	display: block;
	color: #404040;
	cursor: pointer;
	text-decoration: none;
}
div.jsn-modulecontainer ul.menu-treemenu > li > a {
	padding: 8px 12px;
}
ul.menu-treemenu li a span {
	display: block;
}
ul.menu-treemenu li > a > span {
	padding-left: 18px;
	background: url(../images/icons/icons-base.png) left -343px no-repeat;
}
div[class*="box-"] ul.menu-treemenu {
	margin: 5px -15px -15px;
}
div.box-grey ul.menu-treemenu li a,
div[class*="richbox-"] ul.menu-treemenu li a {
	color: #d9d9d9;
}
/* ----- RICH MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-treemenu li a span.jsn-menudescription {
	display: none;
}
div.jsn-modulecontainer ul.menu-treemenu.menu-richmenu li a span.jsn-menudescription {
	color: #595959;
	display: block;
}
div.box-grey ul.menu-treemenu.menu-richmenu li a span.jsn-menudescription,
div[class*="richbox-"] ul.menu-treemenu.menu-richmenu li a span.jsn-menudescription {
	color: #B8B8B8;
}
/* ---------- NORMAL STATE ---------- */
div.jsn-modulecontainer ul.menu-treemenu ul li {
	margin: 0;
}
div.jsn-modulecontainer ul.menu-treemenu ul li a {
	padding-left: 25px;
}
div.jsn-modulecontainer ul.menu-treemenu ul ul li a {
	padding-left: 40px;
}
div.jsn-modulecontainer ul.menu-treemenu ul ul ul li a {
	padding-left: 55px;
}
div.jsn-modulecontainer ul.menu-treemenu ul ul ul ul li a {
	padding-left: 70px;
}
div.jsn-modulecontainer ul.menu-treemenu ul ul ul ul ul li a {
	padding-left: 85px;
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-treemenu li.active > a {
	font-weight: bold;
}
/* ----- CURRENT / HOVER STATE ----- */
div.jsn-modulecontainer ul.menu-treemenu li a:hover,
div.jsn-modulecontainer ul.menu-treemenu li a.current {
	color: #000000;
	background-color: #d9d9d9;
}
div.box-yellow ul.menu-treemenu li a:hover,
div.box-yellow ul.menu-treemenu li a.current {
	background-color: #FAFACF;
}
div.box-grey ul.menu-treemenu li a:hover,
div.box-grey ul.menu-treemenu li a.current,
div.richbox-1 ul.menu-treemenu li a:hover,
div.richbox-1 ul.menu-treemenu li a.current {
	color: #fff;
	background-color: #474747;
}
div.richbox-2 ul.menu-treemenu li a:hover,
div.richbox-2 ul.menu-treemenu li a.current {
	color: #fff;
}
/* =============== MENU - DIV MENU =============== */
ul.menu-divmenu {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}
ul.menu-divmenu:after {
	height: 0;
	clear: both;
	content: ".";
	display: block;
	visibility: hidden;
}
ul.menu-divmenu li {
	margin: 0;
	padding: 0 0.8em;
	float: left;
	display: inline;
	border-right: 1px solid #666666;
}
ul.menu-divmenu li.jsn-menu-mobile-control {
	display: none;
}
ul.menu-divmenu li.first {
	padding-left: 0;
}
ul.menu-divmenu li.last {
	border-right-width: 0;
}
/* =============== MENU - TOP MENU =============== */
ul.menu-topmenu {
	margin: 5px 0;
	padding: 0;
	list-style: none;
}
ul.menu-topmenu li {
	margin: 0;
	padding: 0 8px;
	display: inline-block;
}
ul.menu-topmenu li a {
	padding: 0;
	color: #000;
	display: block;
}
ul.menu-topmenu li a:hover {
	text-decoration: underline;
}
ul.menu-topmenu li a span {
	display: block;
}
/* ============================== MODULE STYLES ============================== */
h3.jsn-moduletitle {
	margin: 0;
	color: #000;
	font-size: 1.3em;
	padding-bottom: 5px;
}
h3.jsn-moduletitle span {
	display: block;
	line-height: 16px;
}
/* =============== MODULE STYLES - MODULE BOXES =============== */
/* ----- GENERAL MODULE STYLES ----- */
div[class*="box-"] div.jsn-modulecontainer_inner,
div[class*="solid-"] div.jsn-modulecontainer_inner {
	padding: 15px;
}
/* ----- BOX YELLOW STYLE ----- */
div.box-yellow div.jsn-modulecontainer_inner {
	background: #FEFEF5 url(../images/module-styles/box-yellow.png) left bottom repeat-x;
}
/* ----- BOX GREY STYLE ----- */
div.box-grey div.jsn-modulecontainer_inner {
	background: #323232 url(../images/module-styles/box-grey.png) left bottom repeat-x;
}
/* ----- RICHBOX STYLE ----- */
div.richbox-1 div.jsn-modulecontainer_inner {
	background: #323232 url(../images/module-styles/richbox-1.png) left bottom repeat-x;
}
/* ----- CUSTOM BOX STYLE IN SPECIFIC POSITION ----- */
#jsn-content-top div[class*="box-"],
#jsn-content-top div[class*="box-"] h3.jsn-moduletitle {
	color: #000;
}
div.box-grey,
div[class*="richbox-"],
#jsn-content-top div.box-grey,
#jsn-content-top div[class*="richbox-"] {
	color: #d4d4d4;
}
div.box-grey h3.jsn-moduletitle,
div[class*="richbox-"] h3.jsn-moduletitle,
#jsn-content-top div.box-grey h3.jsn-moduletitle,
#jsn-content-top div[class*="richbox-"] h3.jsn-moduletitle {
	color: #FFF;
}
/* ============================== JOOMLA! DEFAULT EXTENSIONS ============================== */
/* =============== PAGEBREAK - TABS STYLE =============== */
dl.tabs {
	float: left;
	margin-bottom: -1px;
}
dl.tabs dt.tabs {
	float: left;
	margin-left: 3px;
	padding: 4px 10px;
	background-color: #F0F0F0;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
dl.tabs dt:hover {
	background-color: #F9F9F9;
}
dl.tabs dt.open {
	background-color: #FFF;
	border-bottom: 1px solid #FFF;
}
dl.tabs dt.tabs h3 {
	margin: 0;
	font-size: 1.1em;
}
dl.tabs dt.tabs h3 a {
	color: #666;
	font-weight: normal;
}
dl.tabs dt.open h3 a,
dl.tabs dt.tabs h3 a:hover {
	color: #000;
	text-decoration: none;
}
dl.tabs dt.open h3 a {
	font-weight: bold;
}
div.current dd.tabs {
	margin: 0;
	padding: 10px;
	clear: both;
	border: 1px solid #CCC;
	background-color: #FFF;
}
/* =============== PAGEBREAK - SLIDERS STYLE =============== */
div.panel {
	border: 1px solid #CCC;
	margin-bottom: 10px;
}
div.panel h3.title {
	margin: 0;
	cursor: pointer;
	font-size: 1.1em;
	padding: 8px 10px;
	border-bottom: 1px solid #CCC;
}
div.panel h3.title:hover,
div.panel h3.pane-toggler-down {
	background-color: #F0F0F0;
}
div.panel h3.title a {
	color: #666;
}
div.panel h3.title a:hover {
	text-decoration: none;
}
div.panel h3.pane-toggler-down {
	border-bottom: none;
}
div.panel h3.pane-toggler-down a {
	color: #000;
}
div.panel div.content > div,
div.panel div.content > p {
	margin: 15px;
}
/* =============== JOOMLA! EXTENSIONS - GENERAL =============== */
/* ----- HEADING ----- */
.contentheading,
.componentheading,
.subheading {
	margin-top: 0;
	font-size: 1.6em;
}
table.contentpaneopen {
	width: 100%;
}
/* ----- FORM ----- */
.jsn-formbuttons {
	text-align: center;
	padding-top: .45em;
}
table.paramlist td {
	padding: .3em;
}
table.paramlist td.paramlist_key {
	width: 150px;
}
.inputbox {
	border: 1px solid #d0d0d0;
	background-color: #fafafa;
	padding: 2px 4px;
	min-height: 22px;
}
.inputbox:active, .inputbox:focus {
	border-color: #b5b5b5;
	background-color: #f2f2f2;
}
select.inputbox {
	padding: 2px;
}
#jsn-page .button {
	display: inline-block;
	*display: inline;
	padding: 4px 10px;
	margin: 0 0 2px;
	font-size: 13px;
	line-height: 18px;
	*line-height: 20px;
	color: #eee;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	vertical-align: middle;
	cursor: pointer;
	background-color: #999;
}
.button:hover, .button:active {
	background-color: #777;
	color: #fff;
}
/* ----- TOOLTIPS ----- */
.jsn-joomla-25 .tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
	z-index: 88;
	position: relative;
}
.jsn-joomla-25 .tip-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../../system/images/selector-arrow.png) no-repeat;
}
.jsn-joomla-25 .tip-text {
	font-size: 100%;
	margin: 0;
}
/* ----- POP-UP / PRINT WINDOWS ----- */
body.contentpane {
	color: #000000;
	background: #FFFFFF;
}
body.contentpane div.com-content {
	padding: 1em;
}
/* ----- MODAL ----- */
#jsn-master .modal {
    position: static;
}
/* =============== JOOMLA! EXTENSIONS - COM_CONTENT =============== */
/* ----- ARTICLE METADATA ----- */
.jsn-article-metadata {
	margin-bottom: 15px;
}
.jsn-article-metadata > span {
	padding-right: 10px;
	border-right: 1px solid #ccc;
	margin-right: 10px;
}
.jsn-article-metadata > span:last-child {
	padding-right: 0;
	margin-right: 0;
	border: none;
}
.article-info {
	margin: 0;
	font-size: 0.9em;
	float: left;
}
.article-info-term {
	display: none;
}
.archive .article-info dd,
.article-info dd {
	margin: 0 0 2px;
	line-height: 1.5;
}
/* ----- ARTICLE TOOLBAR ----- */
.jsn-article-toolbar {
	margin-bottom: 15px;
	background-color: #f4f4f4;
}
.jsn-article-toolbar .btn-group.pull-right {
	padding: 10px;
}
.jsn-article-toolbar dl {
	padding: 5px 10px;
}
#article-index {
    float: right;
    margin: 0 0 1em 1em;
    background-color: #F2F2F2;
    border: 1px solid #D9D9D9;
}
#article-index ul {
	margin: 0;
	list-style-type: none;
}
#article-index ul li {
	margin: 0;
	padding: 0.25em 0.6em;
}
/* ----- ARTICLE INFO ----- */
.jsn-article-info {
	padding: 10px;
}
.jsn-article-info p:first-child {
	margin-top: 0;
}
.jsn-article-info p:last-child {
	margin-bottom: 0;
}
.author,
.createdate,
.publishdate,
.hits {
	margin: 10px 0;
	color: #595959;
	font-size: 0.9em;
}
.author,
.createdate,
.publishdate {
	padding-left: 22px;
	background-image: url(../images/icons/icons-base.png);
	background-repeat: no-repeat;
}
.author {
	background-position: 0 0;
}
.createdate,
.publishdate {
	background-position: 0 -86px;
}
.modifydate {
	margin: 1em 0;
	text-align: right;
	color: #999999;
	font-style: italic;
}
/* ----- ARCHIVE ARTICLE  ----- */
div.archive .intro {
	clear: both;
}
/* ----- 2 BUTTON PRINT, EMAIL CONTAINER ----- */
ul.jsn-article-tools {
	margin: 10px;
	list-style: none;
}
ul.jsn-article-tools li {
	float: left;
	margin: 0 0 0 10px;
}
ul.jsn-article-tools li a {
	float: left;
	display: block;
	height: 16px;
	width: 16px;
	background: url(../images/icons/icons-base.png) left top no-repeat;
}
ul.jsn-article-tools li a.no-icon {
	background: none;
	width: auto;
	height: auto;
}
ul.jsn-article-tools li.jsn-article-icon-edit a {
	background: none;
}
ul.jsn-article-tools li a.jsn-article-print-button {
	background-position: 0 -430px;
}
ul.jsn-article-tools li a.jsn-article-email-button {
	background-position: 0 -516px;
}
ul.jsn-article-tools li a:hover {
	text-decoration: none;
}
.jsn-article-submit {
	margin-top: 0.8em;
}
.jsn-joomla-25 .item-title-entry .icon-edit,
.item-title-entry .jsn-icon-edit {
	display: inline-block;
}
/* ----- SUBMIT AN ARTICLE ----- */
.field-title {
	width: 120px;
	float: left;
}
.formelm, .formelm-area {
	margin: 10px 0;
	clear: both;
}
.formelm .fltlft {
	float: left;
}
.formelm label {
    display: inline-block;
    width: 25%;
    float: left;
}
/* ----- READ MORE ----- */
a.readon {
	color: #000;
	cursor: pointer;
	font-size: 1.1em;
	padding: 5px 12px;
	font-weight: bold;
	border: #999 1px solid;
	display: inline-block;
	background: #F4F4F4;
}
a.readon:hover {
	text-decoration: none;
	background-color: #e5e5e5;
}
/* ----- TAG ----- */
.tags .label {
	padding: 5px 8px;
	font-weight: normal;
}
/* ----- TABLE OF CONTENT ----- */
table.contenttoc {
	margin: 0 0 1em 1em;
	border: 1px solid #D9D9D9;
	background: #f2f2f2;
	float: right;
}
table.contenttoc th {
	padding: .4em;
	background: url(../images/dot.png) bottom repeat-x;
	font-weight: bold;
	text-align: center;
}
table.contenttoc td {
	padding: .25em .6em;
}
/* PAGE LINK IN TOC */
a.toclink {
	font-size: .9em;
}
/* PAGE NUMBER SHOWING "PAGE 1 OF ..." UNDER TOC */
div.pagenavcounter {
	color: #595959;
	margin: .5em 0;
	font-size: .9em;
	font-weight: bold;
}
/* PAGE NAVIGATION */
div.pagenavbar div {
	color: #999999;
	font-weight: bold;
	font-size: .9em;
}
/* ----- SECTION / CATEGORY BLOG LAYOUT ----- */
/* SEPARATOR BETWEEN ARTICLES */
div.article_separator {
	height: 1em;
	clear: both;
}
div.row_separator {
	height: 1em;
	clear: both;
}
/* ARTICLE COLUMN CONTAINER */
.jsn-articlecols {
	float: left;
}
.jsn-articlecols .jsn-article {
	padding: 0 5px;
}
/* "MORE ARTICLES..." PANEL HEADING TEXT */
div.blog_more {
	padding: 10px 15px;
	margin: 0 0 1em 0;
	border: 1px solid #e5e5e5;
	background-color: #F4F4F4;
}
/* PAGE PAGINATION */
ul.pagenav,
div.pagination ul {
	list-style-type: none;
}
ul.pagenav {
	text-align: center;
}
ul.pagenav li,
div.pagination ul li {
	color: #999;
	margin: 0;
	display: inline-block;
	font-weight: bold;
}
div.pagination ul li {
	font-size: 0.9em;
}
ul.pagenav li a,
div.pagination ul li a {
	margin: 0 15px;
}
ul.jsn-pagination {
	list-style-type: none;
}
ul.jsn-pagination li {
	display: inline-block !important; /*override compression*/
	margin: 10px 2px;
}
ul.jsn-pagination li a,
ul.jsn-pagination li span {
	font-weight: bold;
	padding: 5px 10px;
	border: 1px solid #CCC;
	background-color: #EAEAEA;
	color: #999;
}
ul.jsn-pagination li span {
	background-color: transparent;
}
ul.jsn-pagination li a:hover {
	color: #000;
	text-decoration: none;
}
ul.jsn-pagination li.navigation-page span {
	border: none;
	padding: 6px 10px;
	color: #fff;
}
ul.jsn-pagination,
p.jsn-pageinfo {
	font-size: 0.9em;
	text-align: center;
	margin: 20px 0 10px 0;
}
/* BLOG PAGES NAV LINK */
a.pagenav {
	text-transform: uppercase;
}
/* ----- CATEGORY LIST LAYOUT ----- */
/* DESCRIPTION IN CONTENT TABLE AND COMPONENT PAGE */
.categories-list ul {
	list-style-type: none;
}
.cat-children ul dl dt,
.cat-children ul dl dd,
dl.article-count dt,
dl.article-count dd {
	display: inline;
}
.categories-list dl dt,
.categories-list dl dd {
	margin: 0;
	padding: 0;
	display: inline;
}
/* TABLE IN CATEGORY TABLE PAGE */
.sectiontableheader {
	padding: 5px 8px;
	font-weight: bold;
	font-size: 1.1em;
	color: #FFFFFF;
}
.sectiontableheader img {
	margin: 0;
	vertical-align: text-top;
}
.sectiontableheader a {
	color: #ffffff;
	text-decoration: underline;
}
.sectiontableheader a:hover {
	text-decoration: none;
}
/* TABLE FILTER */
.jsn-infofilter {
	text-align: right;
}
.jsn-titlefilter {
	float: left;
}
.archived-article-list .jsn-infofilter {
	text-align: left;
}
/* TABLE'S ROW */
tr.sectiontableentry1 td,
tr.sectiontableentry2 td {
	padding: 6px 8px;
	border-bottom: 1px solid #e5e5e5;
}
tr.sectiontableentry2 td {
}
/* ----- SECTION LAYOUT ----- */
/* LINKS IN SECTION TABLE PAGE */
a.category {
	font-weight: bold;
}
/* =============== JOOMLA! EXTENSIONS - COM_CONTACT =============== */
/* ----- STANDARD CONTACT LAYOUT ----- */
div.com-contact .jsn-contact-image {
	float: right;
	margin: 10px 5px 0 0;
}
div.com-contact .contact-position {
	margin: 5px 0 0 0;
}
div.com-contact .contact-vcard {
	margin: 0 0 5px 0;
}
div.com-contact .jicons-icons {
	float: left;
}
div.com-contact .contact-address {
	margin-top: 5px;
}
div.com-contact .contact-address p {
	margin: 0;
	padding-left: 20px;
}
div.com-contact .contact-contactinfo p,
div.com-contact .contact-miscinfo p {
	margin: 5px 0;
}
div.com-contact .contact-contactinfo .jicons-icons,
div.com-contact .contact-miscinfo .jicons-icons {
	margin-right: 4px;
}
div.com-contact div.contact-form fieldset {
	padding: 0 10px;
}
div.com-contact div.contact-form dt {
	margin: 10px 0 5px 0;
}
div.com-contact div.contact-form dd {
	margin-left: 0;
}
div.com-contact .form-required {
	color: #EF593B;
	font-weight: bold;
	text-align: right;
}
/* =============== JOOMLA! EXTENSIONS - COM_SEARCH =============== */
div.com-search #searchForm .search-phrase {
	margin-left: 95px;
}
div.com-search #searchForm .search-range input,
div.com-search #searchForm .search-phrase input {
	margin: 0 0 0 5px;
	vertical-align: middle;
}
div.com-search #searchForm [class*="search-"] label,
div.com-search #searchForm .search-field-title {
	width: 100px;
	line-height: 21px;
	text-align: left;
	padding-right: 3px;
	display: inline-block;
}
div.com-search #searchForm .search-range label,
div.com-search #searchForm .search-phrase label {
	width: auto;
}
div.com-search #searchForm .search-ordering select {
	padding: 2px 0;
}
div.com-search #searchForm .search-range label {
	line-height: 21px;
}
.jsn-joomla-30 div.search .inputbox {
	width: auto;
	max-width: 100%;
}
/* =============== JOOMLA! EXTENSIONS - COM_FINDER =============== */
.collapse {
	overflow: hidden;
}
/* ----- KEYWORD GIGHLIGHT IN SEARCH RESULT ----- */
span.highlight {
	padding: .2em;
	background: #FFFFAA;
}
/* =============== JOOMLA! EXTENSIONS - COM_WEBLINK =============== */
table.jsn-infotable .description p {
	margin: 0;
}
table.jsn-infotable ul.actions {
	display: inline;
}
table.jsn-infotable ul.actions li {
	display: inline;
	margin: 0 0 0 5px;
}
#editor-xtd-buttons {
	float: left;
}
/* =============== JOOMLA! EXTENSIONS - COM_NEWSFEED =============== */
div.com-newsfeed td.jsn-table-column-name {
	font-weight: bold;
}
div.com-newsfeed table {
	width: 100%;
	border-collapse: collapse;
}
div.com-newsfeed td {
	border: 1px solid #ccc;
	padding: 10px 5px;
	border-top: none;
}
div.com-newsfeed th {
	background: #999;
	padding: 10px 5px;
	border: 1px solid #999;
	border-bottom: none;
}
div.com-newsfeed th a {
	color: #fff;
}
div.com-newsfeed td.item-num-art {
	text-align: center;
}
/* =============== JOOMLA! EXTENSIONS - COM_USER =============== */
/* ----- USER FORM LAYOUT ----- */
div.com-user div.default-login {
	width: 350px;
	margin: 0 auto;
	padding: 10px;
	background-color: #F4F4F4;
	border: 1px solid #E5E5E5;
}
#jsn-mainbody ul.nav-stacked > li{
	margin-left: 0;
}
.login-fields {
	margin: 10px 0;
}
.login-fields label {
	width: 9em;
	float: left;
}
/* ----- REGISTER FORM ----- */
.jsn-formRow {
	margin: 8px 0;
}
.jsn-formRow .jsn-formRow-lable {
	float: left;
	width: 170px;
}
/* =============== JOOMLA! EXTENSIONS - POPUP COMPONENT =============== */
#jsn-content-popup .com-content,
#jsn-content-popup #mailto-window {
	max-width: 1018px;
	margin: 1em auto;
}
#jsn-content-popup .com-content {
    padding-top: 0;
}
#mailto-window {
	padding: 15px;
	position: relative;
	background: #f5f5f5;
	border: solid 1px #ddd;
}
#mailto-window h2 {
	padding: 3px 0;
	margin: 0 0 10px;
	font: bold 1.2em "Times New Roman", Times, serif;
}
#mailto-window label {
	width: 8em;
	display: inline-block;
}
#mailto-window .mailto-close {
	right: 0;
	top: 5px;
	background: none;
	position: absolute;
}
#mailto-window .mailto-close a {
	display: block;
	min-width: 25px;
	min-height: 25px;
	overflow: visible;
	background: url(../images/icons/icon-close.png) 0 0 no-repeat;
}
#mailto-window .mailto-close a span {
	top: -3000px;
	left: -3000px;
	display: inline;
	position: absolute;
}
#mailto-window .inputbox {
	padding: 3px;
	border: 1px solid #ccc;
	background: #FFF url(../images/backgrounds/popup-bg.png) repeat-x 0 0;
}
#mailto-window p {
    margin: 20px 0 8px 0;
}
#mailto-window button {
	cursor: pointer;
	margin:0 5px 0 0;
	padding: 3px 10px;
	border: 1px solid #ccc;
	font: bold 1em "Times New Roman", Times, serif;
	background-image:linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	background-image:-moz-linear-gradient(50% 0% -90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(216,216,216)));
	background-image:-webkit-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	background-image:-o-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	background-image:-ms-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffd8d8d8,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffd8d8d8,GradientType=0);
}
#mailto-window .formelm,
#mailto-window .formelm-area {
    clear: both;
    margin: 5px 0;
}
/* =============== JOOMLA! EXTENSIONS - SYSTEM MESSAGES =============== */
/* ----- SYSTEM STANDARD MESSAGES ----- */
#system-message {
	margin-bottom: 20px;
}
#system-message dd.message ul {
	text-indent: 0;
	padding-left: 40px;
	background: #c3d2e5 url(../../../media/system/images/notice-info.png) 4px center no-repeat;
}
#system-message ul li {
	margin-left: 0;
}
/* ----- SYSTEM ERROR MESSAGES ----- */
#system-message dd.error ul {
	background: #e6c0c0 url(../../../media/system/images/notice-alert.png) 4px center no-repeat;
}
/* ----- SYSTEM NOTICE MESSAGES ----- */
#system-message dd.notice ul {
	color: #cc0000;
	border-top: 3px solid #f0dc7e;
	border-bottom: 3px solid #f0dc7e;
	background: #efe7b8 url(../../../media/system/images/notice-note.png) 4px center no-repeat;
}
/* =============== JOOMLA! EXTENSIONS - MOD_BREADCRUMB =============== */
span.breadcrumbs {
	display: block;
	font-size: 0.9em;
}
span.breadcrumbs a,
span.breadcrumbs span {
	color: #404040;
	padding-right: 18px;
	text-decoration: none;
	background: url(../images/icons/icon-arrow-black.png) right center no-repeat;
}
span.breadcrumbs a {
	padding-left: 8px;
	float: left;
}
span.breadcrumbs a + span.current {
	margin-left: 8px;
}
span.breadcrumbs a.first {
	padding-left: 0;
}
span.breadcrumbs a:hover {
	text-decoration: underline;
}
span.breadcrumbs span.current {
	color: #404040;
	font-weight: bold;
	background: none;
}
.breadcrumb {
	padding: 0;
	margin: 0;
	list-style: none;
	background: none;
	font-size: 0.9em;
}
.breadcrumb li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-shadow: 0 1px 0 #fff;
	margin: 0;
}
.breadcrumb li a,
.breadcrumb li span {
	color: #404040;
}
.breadcrumb li a,
.breadcrumb li span + span {
	display: inline-block;
}
.breadcrumb li span + span {
	font-weight: bold;
	background: none;
}
.breadcrumb a,
.breadcrumb li span {
	padding: 0 25px 0 0;
	background: url("../images/icons/icon-arrow-black.png") 95% center no-repeat;
}
.breadcrumb > li > .divider {
	padding: 0 !important;
}
.breadcrumb li.active:first-child span.divider {
	padding: 0 5px 0 0;
	background: none;
}
.breadcrumb .active {
	color: #999;
}
/* =============== JOOMLA! EXTENSIONS - MOD_LOGIN =============== */
#form-login fieldset.input {
	border: none;
	padding: 0;
}
#form-login div.button-wrapper {
	text-align: center;
	margin-top: 0.5em;
}
#form-login [id^="form-login-"] {
	margin: 0 0 6px 0;
}
form#login-form a.btn {
	min-height: 15px;
}
form#login-form .icon-arrow-right {
	background-position: -458px -73px;
}
/* =============== JOOMLA! EXTENSIONS - MOD_SEARCH =============== */
#jsn-pos-top div.search input#mod-search-searchword {
	padding: 2px 0 2px 25px;
	background: #FFF url(../images/icons/icons-base.png) 5px -168px no-repeat;
}
/* =============== JOOMLA! EXTENSIONS - MOD_NEWSFLASH =============== */
.jsn-mod-newsflash.jsn-horizontal-container .jsn-article {
	padding: 0 1em;
}
.jsn-mod-newsflash .contentheading {
	margin: 0 0 0.3em 0;
}
.jsn-mod-newsflash .article-separator {
	display: block;
    height: 0.5em;
}
/* ============================== JOOMLA! 3.x CORE COMPONENT LAYOUT ============================== */
.img-fulltext-left {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.img-intro-left {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.img-fulltext-right {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}
.img-intro-right {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}
.pull-right.collapsed .icon-minus,
.pull-right .icon-plus {
	display: none;
}
.pull-right .icon-minus,
.pull-right.collapsed .icon-plus {
	display: block;
}
/* ---------- OVERRIDE ----------- */
.jsn-joomla-30 blockquote {
	border-left: none;
}
.jsn-joomla-30 hr {
	margin: 0.5em 0;
}
.jsn-joomla-30 .form-horizontal .control-label {
	text-align: left;
}
.jsn-joomla-30 .input-append .btn {
	padding: 7px 14px 6px;
	outline: none;
}
.jsn-joomla-30 label,
.jsn-joomla-30 input,
.jsn-joomla-30 button,
.jsn-joomla-30 select,
.jsn-joomla-30 textarea,
.jsn-joomla-30 .btn,
.jsn-joomla-30 .uneditable-input {
	font-size: 13px;
}
.jsn-joomla-30 .icon-location {
    background-position: -24px -73px;
}
.jsn-joomla-30 div.tooltip {
	background: none;
	border: none;
}
.jsn-joomla-30 #form-login-remember .control-label,
.jsn-joomla-30 #modlgn-remember {
	vertical-align: middle;
}
.jsn-joomla-30 .dropdown-menu li,
.jsn-joomla-30 .category li {
	margin: 0;
}
.jsn-joomla-30 .page-header {
    border-bottom: none;
	margin-bottom: 0;
}
/* ============================== CUSTOM CSS ============================== */
/* =============== GENERAL LAYOUT =============== */
div.jsn-modulecontainer ul.menu-mainmenu > li > a {
	font-size: 1.2em;
}
.jsn-demo-page #jsn-mainbody {
	padding: 0;
}
/* =============== HOMEPAGE SLIDER =============== */
.homepage-slideshow .box_skitter .image {
	position: relative;
}
.homepage-slideshow .box_skitter .label_skitter {
	background: transparent;
	position: absolute;
	left: 100px;
	right: auto;
	top: 0;
	bottom: 0;
	margin: auto;
	max-width: 60%;
	max-height: 300px;
	opacity: 1;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
.homepage-slideshow .box_skitter .label_skitter p.jsn-themeslider-caption-title {
	font-family: 'Abel', Verdana, Geneva, sans-serif;
	font-size: 3.6em;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: rgba(0,0,0,0.8);
	display: inline-block;
	margin: 0;
	padding: 15px 30px;
}
.homepage-slideshow .box_skitter .label_skitter p.jsn-themeslider-caption-description {
	font-size: 1.3em;
	line-height: 1.7;
	color: rgba(255,255,255,0.8);
	background: rgba(0,0,0,0.75);
	display: inline-block;
	margin: 0;
	padding: 15px 30px;
}

.jsn-color-blue .homepage-slideshow .box_skitter .label_skitter p.jsn-themeslider-caption-title {
	background: rgba(16,92,123,0.75);
}
.homepage-slideshow .box_skitter [class*="_button"] {
	width: 56px;
	height: 56px;
	margin-top: -34px;
}
.homepage-slideshow .box_skitter .prev_button {
	left: -34px;
	background: rgba(0,0,0,0.7) url(../images/icons/icon-arrow-prev.png) center center no-repeat;
}
.homepage-slideshow .box_skitter .next_button {
	right: -34px;
	background: rgba(0,0,0,0.7) url(../images/icons/icon-arrow-next.png) center center no-repeat;
}

/* ========== TABULOUS CSS ========== */
#tabs_container {
	padding: 40px;
	overflow: hidden;
	position: relative;
	background: white;
}

#tabs_container div {
	margin-right: 40px;
}

.transition {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

	-webkit-transition-delay: .2s;
	-moz-transition-delay: .2s;
	-o-transition-delay: .2s;
	-ms-transition-delay: .2s;
	transition-delay: .2s;
}

.make_transist {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.hidescale {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
}

.showscale {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .4s;
	-moz-transition-delay: .4s;
	-o-transition-delay: .4s;
	-ms-transition-delay: .4s;
	transition-delay: .4s;
}

.hideleft {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.showleft {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hidescaleup {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.showscaleup {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.tabulous_active {
	background: white;
	color: #655c89;
}

.tabulousclear {
	display: block;
	clear: both;
}

/* ========== DEMO ABOUT US ========== */
h3.main-heading {
	text-transform: uppercase;
	font-size: 2.5em;
	line-height: 2.5em;
	margin: 0 auto;
	padding: 40px 0;
	color: #111;
	letter-spacing: 2px;
	text-align: center;
}
h3.main-heading span {
	display: inline-block;
	position: relative;
}
h3.main-heading span:after {
	content: '';
	display: block;
	position: absolute;
	height: 2px;
	width: 50%;
	bottom: 0;
	left: 50%;
	margin-left: -25%;
	background-color: #111;
}
h3.main-heading + .main-heading-desc {
	text-align: center;
	text-transform: uppercase;
	color: #777;
	letter-spacing: 1px;
}
#aboutus-tabs {
	padding: 0 50px;
}
#aboutus-tabs ul.tab-title {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	border-bottom: 1px solid #ddd;
}
#aboutus-tabs ul.tab-title li {
	display: inline-block;
	padding: 0;
	margin: 0;
}
#aboutus-tabs ul.tab-title li a {
	color: #999;
	display: block;
	padding: 40px 30px;
	font-size: 1.2em;
	text-transform: uppercase;
	position: relative;
	text-decoration: none;
}
#aboutus-tabs ul.tab-title li a:after {
	content: '';
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
	width: 10px;
	height: 10px;
	background-color: #999;
	border: 10px solid #fff;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	z-index: 50;
}
#aboutus-tabs ul.tab-title li a.tabulous_active {
	color: #009aca;
}
#aboutus-tabs ul.tab-title li a.tabulous_active:after {
	background-color: #009aca;
	margin-left: -20px;
	margin-top: -20px;
	width: 20px;
	height: 20px
}

#aboutus-tabs #tabs_container {
	padding: 40px 0;
}

/* ========== DEMO OUR SERVICES ========== */
div.jsn-modulecontainer.our-services {
	background: url(../../../media/joomlashine/jsn-epic/backgrounds/workingdesk.jpg) center center fixed no-repeat;
	background-size: cover;
	color: #fff;
}
div.jsn-modulecontainer.our-services h3.main-heading {
	color: #fff;
}
div.jsn-modulecontainer.our-services h3.main-heading span:after {
	background-color: #fff;
}
#demo-our-services .ourservice-grid {
	padding: 30px 80px 100px;
}
#demo-our-services .ourservice-item .grid-col_inner {
	margin: 0;
	padding: 0 20px;
	text-align: center;
}
#demo-our-services .ourservice-item .icon {
	display: inline-block;
}
#demo-our-services .ourservice-item .icon a,
#demo-our-services .ourservice-item .icon a img {
	display: block;
}
#demo-our-services .ourservice-item .icon a {
	padding: 50px;
	background-color: rgba(255,255,255,0.1);
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
#demo-our-services .ourservice-item .icon a img {
	background: none;
	width: 50px;
	height: 50px;
	transform: scale(0.8,0.8);
	-moz-transform: scale(0.8,0.8);
	-webkit-transform: scale(0.8,0.8);
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.jsn-color-blue #demo-our-services .ourservice-item .grid-col_inner:hover .icon a {
	background-color: #009aca;
}
.jsn-color-red #demo-our-services .ourservice-item .grid-col_inner:hover .icon a {
	background-color: #bf0000;
}
.jsn-color-green #demo-our-services .ourservice-item .grid-col_inner:hover .icon a {
	background-color: #429e00;
}
.jsn-color-violet #demo-our-services .ourservice-item .grid-col_inner:hover .icon a {
	background-color: #9e0084;
}
.jsn-color-orange #demo-our-services .ourservice-item .grid-col_inner:hover .icon a {
	background-color: #e66000;
}
.jsn-color-grey #demo-our-services .ourservice-item .grid-col_inner:hover .icon a {
	background-color: #ccc;
}
#demo-our-services .ourservice-item .grid-col_inner:hover .icon a img {
	transform: scale(1,1);
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
}
#demo-our-services .ourservice-item .content .heading {
	text-transform: uppercase;
	color: #fff;
	font-size: 1.5em;
	letter-spacing: 2px;
}
.jsn-color-blue #demo-our-services .ourservice-item .content .heading {
	color: #009aca;
}
.jsn-color-red #demo-our-services .ourservice-item .content .heading {
	color: #bf0000;
}
.jsn-color-green #demo-our-services .ourservice-item .content .heading {
	color: #429e00;
}
.jsn-color-violet #demo-our-services .ourservice-item .content .heading {
	color: #9e0084;
}
.jsn-color-orange #demo-our-services .ourservice-item .content .heading {
	color: #e66000;
}
.jsn-color-grey #demo-our-services .ourservice-item .content .heading {
	color: #ccc;
}

/* =============== DEMO RESPONSIVE INTRO =============== */
#demo-responsive-intro {
	padding: 80px 0;
}
#demo-responsive-intro .iphone-wrapper {
	width: 300px;
	height: 639px;
	float: right;
	margin: 0 50px;
	background: url(../../../media/joomlashine/jsn-epic/custom-html/responsive-intro/iphone.png) no-repeat;
}
#demo-responsive-intro .iphone-wrapper .bx-wrapper {
	margin-left: 24px !important;
	padding-top: 90px !important;
}
ul#demo-responsiveintro-slider li {
	margin: 0;
}
#demo-responsive-intro .item {
	width: 350px;
	max-width: 100%;
	padding: 30px 0;
	border-bottom: 1px solid #e5e5e5;
}
#demo-responsive-intro .item .heading {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.6em;
}
.jsn-color-blue #demo-responsive-intro .item .heading {
	color: #009aca;
}
.jsn-color-red #demo-responsive-intro .item .heading {
	color: #bf0000;
}
.jsn-color-green #demo-responsive-intro .item .heading {
	color: #429e00;
}
.jsn-color-violet #demo-responsive-intro .item .heading {
	color: #9e0084;
}
.jsn-color-orange #demo-responsive-intro .item .heading {
	color: #e66000;
}
.jsn-color-grey #demo-responsive-intro .item .heading {
	color: #999;
}
#demo-responsive-intro .item .desc {
	letter-spacing: 1px;
	color: #555;
}

/* =============== DEMO OUR WORK =============== */
.jsn-modulecontainer.our-work {
	background: url(../../../media/joomlashine/jsn-epic/backgrounds/our-work-bg.jpg) center center fixed;
	background-size: cover;
}
#demo-our-work {
	padding: 20px 0 80px;
}
#demo-our-work .grid-layout {
	width: 750px;
	max-width: 100%;
	margin: 0 auto 10px;
}
#demo-our-work .grid-layout .grid-lastcol .grid-col_inner {
	margin-right: 10px;
}
#demo-our-work .grid-layout .item a,
#demo-our-work .grid-layout .item a img {
	display: block;
}
#demo-our-work .grid-layout .item a {
	position: relative;
	overflow: hidden;
}
#demo-our-work .grid-layout .item a img {
	max-width: 100%;
	max-height: 240px;
}
#demo-our-work .grid-layout .item a .desc {
	position: absolute;
	width: 100%;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	font-size: 1.3em;
	letter-spacing: 2px;
	height: 50px;
	line-height: 50px;
	left: 0;
	bottom: 0;
	transform: translate(0,50px);
	-moz-transform: translate(0,50px);
	-webkit-transform: translate(0,50px);
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	z-index: 80;
	transition: all 0.65s cubic-bezier(.04,.72,.39,1.45);
	-moz-transition: all 0.65s cubic-bezier(.04,.72,.39,1.45);
	-webkit-transition: all 0.65s cubic-bezier(.04,.72,.39,1.45);
}
#demo-our-work .grid-layout .item a:before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	z-index: 50;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
.jsn-color-blue #demo-our-work .grid-layout .item a:before {
	background-color: rgba(0,154,202,0.9);
}
.jsn-color-red #demo-our-work .grid-layout .item a:before {
	background-color: rgba(213,67,23,0.9);
}
.jsn-color-green #demo-our-work .grid-layout .item a:before {
	background-color: rgba(57,190,116,0.9);
}
.jsn-color-violet #demo-our-work .grid-layout .item a:before {
	background-color: rgba(185,100,208,0.9);
}
.jsn-color-orange #demo-our-work .grid-layout .item a:before {
	background-color: rgba(242,126,32,0.9);
}
.jsn-color-grey #demo-our-work .grid-layout .item a:before {
	background-color: rgba(10,10,10,0.9);
}
#demo-our-work .grid-layout .item a:after {
	content: '+';
	display: block;
	position: absolute;
	color: #fff;
	background-color: rgba(255,255,255,0.3);
	font-size: 1.2em;
	width: 40px;
	height: 40px;
	line-height: 40px;
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -20px;
	text-align: center;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	transform: scale(0.2,0.2);
	-moz-transform: scale(0.2,0.2);
	-webkittransform: scale(0.2,0.2);
	z-index: 70;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
#demo-our-work .grid-layout .item:hover a .desc {
	transform: translate(0,0);
	-moz-transform: translate(0,0);
	-webkit-transform: translate(0,0);
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#demo-our-work .grid-layout .item:hover a:before {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#demo-our-work .grid-layout .item:hover a:after {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	transform: scale(1,1);
	-moz-transform: scale(1,1);
	-webkittransform: scale(1,1);
}
/* =============== DEMO CUSTOM PROMO =============== */
div.jsn-modulecontainer.custom-promo-1 {
	margin-top: 0;
}
.demo-custom-promo-wrapper {
	padding: 60px 0;
	color: #fff;
}
.jsn-color-blue .demo-custom-promo-wrapper {
	background-color: rgba(0,154,202,1);
}
.jsn-color-red .demo-custom-promo-wrapper {
	background-color: rgba(213,67,23,1);
}
.jsn-color-green .demo-custom-promo-wrapper {
	background-color: rgba(57,190,116,1);
}
.jsn-color-violet .demo-custom-promo-wrapper {
	background-color: rgba(185,100,208,1);
}
.jsn-color-orange .demo-custom-promo-wrapper {
	background-color: rgba(242,126,32,1);
}
.jsn-color-grey .demo-custom-promo-wrapper {
	background-color: #393e40;
}
.demo-custom-promo-wrapper .desc {
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.demo-custom-promo-wrapper .mark {
	color: rgba(255,255,255,0.5);
}
/* =============== DEMO TESTIMONIALS =============== */
div.jsn-modulecontainer.testimobials-partners {
	margin-top: 0;
	color: #ddd;
	background: url(../../../media/joomlashine/jsn-epic/backgrounds/bridge.jpg) center top no-repeat;
}
#demo-testimonials-wrapper .testimonials {
	padding: 20px 0 60px;
}
#demo-testimonials-wrapper .main-heading {
	color: #fff;
}
#demo-testimonials-wrapper .main-heading span:after {
	background: #fff;
}
#demo-testimonials-wrapper .slide-item .person .avatar,
#demo-testimonials-wrapper .slide-item .person .avatar img {
	display: inline-block;
	overflow: hidden;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}
#demo-testimonials-wrapper .slide-item .person .avatar {
	margin: 30px 0;
}
#demo-testimonials-wrapper .slide-item .person .avatar img {
	display: block;
}
#demo-testimonials-wrapper .slide-item .text {
	color: #ddd;
	letter-spacing: 1px;
}
#demo-testimonials-wrapper .slide-item .text .desc {
	color: #999;
	font-style: italic;
	font-weight: bold;
}
#demo-testimonials-wrapper .bx-wrapper {
	text-align: center;
}
#demo-testimonials-wrapper .bx-wrapper ul#testimonials-slider,
#demo-testimonials-wrapper .bx-wrapper ul#testimonials-slider li {
	margin: 0;
}
.jsn-color-blue .bx-wrapper .bx-pager.bx-default-pager a:hover,
.jsn-color-blue .bx-wrapper .bx-pager.bx-default-pager a.active {
	background-color: rgba(0,154,202,1);
}
.jsn-color-red .bx-wrapper .bx-pager.bx-default-pager a:hover,
.jsn-color-red .bx-wrapper .bx-pager.bx-default-pager a.active {
	background-color: rgba(213,67,23,1);
}
.jsn-color-green .bx-wrapper .bx-pager.bx-default-pager a:hover,
.jsn-color-green .bx-wrapper .bx-pager.bx-default-pager a.active {
	background-color: rgba(57,190,116,1);
}
.jsn-color-violet .bx-wrapper .bx-pager.bx-default-pager a:hover,
.jsn-color-violet .bx-wrapper .bx-pager.bx-default-pager a.active {
	background-color: rgba(185,100,208,1);
}
.jsn-color-orange .bx-wrapper .bx-pager.bx-default-pager a:hover,
.jsn-color-orange .bx-wrapper .bx-pager.bx-default-pager a.active {
	background-color: rgba(242,126,32,1);
}
.jsn-color-grey .bx-wrapper .bx-pager.bx-default-pager a:hover,
.jsn-color-grey .bx-wrapper .bx-pager.bx-default-pager a.active {
	background-color: rgba(255,255,255,1);
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../images/icons/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(../images/icons/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(../images/icons/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(../images/icons/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(../images/icons/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}

/* Fixed display with JEvents popup */
.jevbootstrap .modal, #myEditModal.modal{
	position: absolute !important;
}