/**
 * @author              Steven Palmer
 * @author url          http://coalaweb.com
 * @author email        support@coalaweb.com
 * @copyright           Copyright (c) 2016 Steven Palmer All rights reserved.
 */

/* Social Icons
----------------------------------------------------------------------------------------------------*/

ul.cw-social-mod-icons-wpzoom-fadeout {
    margin: 0 !important;
    padding: 0!important;
    list-style: none;
    overflow: hidden;
}

ul.cw-social-mod-icons-wpzoom-fadeout li {
    padding: 3px !important;
    margin: 0px !important;
    display:inline-block;
    vertical-align: top;
    overflow:hidden;
    background:none repeat scroll 0 0 transparent !important;
    border: none;
}

ul.cw-social-mod-icons-wpzoom-fadeout li > a::before {
    content: none;
}

.cw-social-mod-icons-wpzoom-fadeout a { 
    display: block !important;
    border:none !important;
    padding:0px !important;
    margin: 0px !important;
    position: relative;
}

/* Size 16 styles
------------------------------------------------------------------------------- */
.cw-social-mod-icons-wpzoom-fadeout a[class$="16"]{ 
    width: 16px;
    height: 16px;
    background: url(cw_social_16.png) 0 0 no-repeat;
    opacity:0.6;
    filter:alpha(opacity=60);
}

.cw-social-mod-icons-wpzoom-fadeout a[class$="16"]:hover{ 
    width: 16px;
    height: 16px;
    background: url(cw_social_16.png) 0 0 no-repeat;
    opacity:1.0;
    filter:alpha(opacity=100);
}

.cw-social-mod-icons-wpzoom-fadeout a.android16,
.cw-social-mod-icons-wpzoom-fadeout a.android16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.android16:active,
.cw-social-mod-icons-wpzoom-fadeout a.android16:focus{ background-position: -5px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.behance16,
.cw-social-mod-icons-wpzoom-fadeout a.behance16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.behance16:active,
.cw-social-mod-icons-wpzoom-fadeout a.behance16:focus{ background-position: -31px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.blogger16,
.cw-social-mod-icons-wpzoom-fadeout a.blogger16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.blogger16:active,
.cw-social-mod-icons-wpzoom-fadeout a.blogger16:focus{ background-position: -57px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.delicious16,
.cw-social-mod-icons-wpzoom-fadeout a.delicious16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.delicious16:active,
.cw-social-mod-icons-wpzoom-fadeout a.delicious16:focus{ background-position: -83px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.designmoo16,
.cw-social-mod-icons-wpzoom-fadeout a.designmoo16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.designmoo16:active,
.cw-social-mod-icons-wpzoom-fadeout a.designmoo16:focus{ background-position: -109px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.deviantart16,
.cw-social-mod-icons-wpzoom-fadeout a.deviantart16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.deviantart16:active,
.cw-social-mod-icons-wpzoom-fadeout a.deviantart16:focus{ background-position: -5px -31px; } 
.cw-social-mod-icons-wpzoom-fadeout a.digg16,
.cw-social-mod-icons-wpzoom-fadeout a.digg16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.digg16:active,
.cw-social-mod-icons-wpzoom-fadeout a.digg16:focus{ background-position: -31px -31px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.dribbble16,
.cw-social-mod-icons-wpzoom-fadeout a.dribbble16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.dribbble16:active,
.cw-social-mod-icons-wpzoom-fadeout a.dribbble16:focus{ background-position: -57px -31px;;  } 
.cw-social-mod-icons-wpzoom-fadeout a.ebay16,
.cw-social-mod-icons-wpzoom-fadeout a.ebay16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.ebay16:active,
.cw-social-mod-icons-wpzoom-fadeout a.ebay16:focus{ background-position: -83px -31px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.facebook16,
.cw-social-mod-icons-wpzoom-fadeout a.facebook16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.facebook16:active,
.cw-social-mod-icons-wpzoom-fadeout a.facebook16:focus{ background-position: -109px -31px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.flickr16,
.cw-social-mod-icons-wpzoom-fadeout a.flickr16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.flickr16:active,
.cw-social-mod-icons-wpzoom-fadeout a.flickr16:focus{ background-position: -5px -57px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.github16,
.cw-social-mod-icons-wpzoom-fadeout a.github16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.github16:active,
.cw-social-mod-icons-wpzoom-fadeout a.github16:focus{ background-position: -31px -57px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.gmail16,
.cw-social-mod-icons-wpzoom-fadeout a.gmail16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.gmail16:active,
.cw-social-mod-icons-wpzoom-fadeout a.gmail16:focus{ background-position: -57px -57px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.googleplus16,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus16:active,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus16:focus{ background-position: -83px -57px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt16,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt16:active,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt16:focus{ background-position: -109px -57px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.instagram16,
.cw-social-mod-icons-wpzoom-fadeout a.instagram16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.instagram16:active,
.cw-social-mod-icons-wpzoom-fadeout a.instagram16:focus{ background-position: -5px -83px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.itunes16,
.cw-social-mod-icons-wpzoom-fadeout a.itunes16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.itunes16:active,
.cw-social-mod-icons-wpzoom-fadeout a.itunes16:focus{ background-position: -31px -83px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.lastfm16,
.cw-social-mod-icons-wpzoom-fadeout a.lastfm16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.lastfm16:active,
.cw-social-mod-icons-wpzoom-fadeout a.lastfm16:focus{ background-position: -57px -83px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.linkedin16,
.cw-social-mod-icons-wpzoom-fadeout a.linkedin16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.linkedin16:active,
.cw-social-mod-icons-wpzoom-fadeout a.linkedin16:focus{ background-position: -83px -83px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.myspace16,
.cw-social-mod-icons-wpzoom-fadeout a.myspace16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.myspace16:active,
.cw-social-mod-icons-wpzoom-fadeout a.myspace16:focus{ background-position: -109px -83px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.newsvine16,
.cw-social-mod-icons-wpzoom-fadeout a.newsvine16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.newsvine16:active,
.cw-social-mod-icons-wpzoom-fadeout a.newsvine16:focus{ background-position: -5px -109px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.pinterest16,
.cw-social-mod-icons-wpzoom-fadeout a.pinterest16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.pinterest16:active,
.cw-social-mod-icons-wpzoom-fadeout a.pinterest16:focus{ background-position: -31px -109px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.reddit16,
.cw-social-mod-icons-wpzoom-fadeout a.reddit16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.reddit16:active,
.cw-social-mod-icons-wpzoom-fadeout a.reddit16:focus{ background-position: -57px -109px; } 
.cw-social-mod-icons-wpzoom-fadeout a.rss16,
.cw-social-mod-icons-wpzoom-fadeout a.rss16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.rss16:active,
.cw-social-mod-icons-wpzoom-fadeout a.rss16:focus{ background-position: -83px -109px; } 
.cw-social-mod-icons-wpzoom-fadeout a.spotify16,
.cw-social-mod-icons-wpzoom-fadeout a.spotify16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.spotify16:active,
.cw-social-mod-icons-wpzoom-fadeout a.spotify16:focus{ background-position: -109px -109px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon16,
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon16:active,
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon16:focus{ background-position: -135px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor16,
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor16:active,
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor16:focus{ background-position: -135px -31px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.tuenti16,
.cw-social-mod-icons-wpzoom-fadeout a.tuenti16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.tuenti16:active,
.cw-social-mod-icons-wpzoom-fadeout a.tuenti16:focus{ background-position:  -135px -57px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.tumblr16,
.cw-social-mod-icons-wpzoom-fadeout a.tumblr16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.tumblr16:active,
.cw-social-mod-icons-wpzoom-fadeout a.tumblr16:focus{ background-position: -135px -83px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.twitter16,
.cw-social-mod-icons-wpzoom-fadeout a.twitter16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.twitter16:active,
.cw-social-mod-icons-wpzoom-fadeout a.twitter16:focus{ background-position: -135px -109px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.vimeo16,
.cw-social-mod-icons-wpzoom-fadeout a.vimeo16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.vimeo16:active,
.cw-social-mod-icons-wpzoom-fadeout a.vimeo16:focus{ background-position: -5px -135px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.weibo16,
.cw-social-mod-icons-wpzoom-fadeout a.weibo16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.weibo16:active,
.cw-social-mod-icons-wpzoom-fadeout a.weibo16:focus{ background-position: -31px -135px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp16,
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp16:active,
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp16:focus{ background-position: -57px -135px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.xing16,
.cw-social-mod-icons-wpzoom-fadeout a.xing16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.xing16:active,
.cw-social-mod-icons-wpzoom-fadeout a.xing16:focus{ background-position: -83px -135px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.youtube16,
.cw-social-mod-icons-wpzoom-fadeout a.youtube16:hover,
.cw-social-mod-icons-wpzoom-fadeout a.youtube16:active,
.cw-social-mod-icons-wpzoom-fadeout a.youtube16:focus{ background-position: -109px -135px;  } 

/* Size 24 styles
------------------------------------------------------------------------------- */
.cw-social-mod-icons-wpzoom-fadeout a[class$="24"]{  
    width: 24px;
    height: 24px;
    background: url(cw_social_24.png) 0 0 no-repeat;
    opacity:0.6;
    filter:alpha(opacity=60);
}

.cw-social-mod-icons-wpzoom-fadeout a[class$="24"]:hover{  
    width: 24px;
    height: 24px;
    background: url(cw_social_24.png) 0 0 no-repeat;
    opacity:1.0;
    filter:alpha(opacity=100);
}

.cw-social-mod-icons-wpzoom-fadeout a.android24,
.cw-social-mod-icons-wpzoom-fadeout a.android24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.android24:active,
.cw-social-mod-icons-wpzoom-fadeout a.android24:focus{ background-position: -5px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.behance24,
.cw-social-mod-icons-wpzoom-fadeout a.behance24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.behance24:active,
.cw-social-mod-icons-wpzoom-fadeout a.behance24:focus{ background-position: -39px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.blogger24,
.cw-social-mod-icons-wpzoom-fadeout a.blogger24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.blogger24:active,
.cw-social-mod-icons-wpzoom-fadeout a.blogger24:focus{ background-position: -73px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.delicious24,
.cw-social-mod-icons-wpzoom-fadeout a.delicious24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.delicious24:active,
.cw-social-mod-icons-wpzoom-fadeout a.delicious24:focus{ background-position: -107px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.designmoo24,
.cw-social-mod-icons-wpzoom-fadeout a.designmoo24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.designmoo24:active,
.cw-social-mod-icons-wpzoom-fadeout a.designmoo24:focus{ background-position: -141px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.deviantart24,
.cw-social-mod-icons-wpzoom-fadeout a.deviantart24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.deviantart24:active,
.cw-social-mod-icons-wpzoom-fadeout a.deviantart24:focus{ background-position: -5px -39px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.digg24,
.cw-social-mod-icons-wpzoom-fadeout a.digg24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.digg24:active,
.cw-social-mod-icons-wpzoom-fadeout a.digg24:focus{ background-position: -39px -39px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.dribbble24,
.cw-social-mod-icons-wpzoom-fadeout a.dribbble24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.dribbble24:active,
.cw-social-mod-icons-wpzoom-fadeout a.dribbble24:focus{ background-position: -73px -39px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.ebay24,
.cw-social-mod-icons-wpzoom-fadeout a.ebay24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.ebay24:active,
.cw-social-mod-icons-wpzoom-fadeout a.ebay24:focus{ background-position: -107px -39px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.facebook24,
.cw-social-mod-icons-wpzoom-fadeout a.facebook24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.facebook24:active,
.cw-social-mod-icons-wpzoom-fadeout a.facebook24:focus{ background-position: -141px -39px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.flickr24,
.cw-social-mod-icons-wpzoom-fadeout a.flickr24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.flickr24:active,
.cw-social-mod-icons-wpzoom-fadeout a.flickr24:focus{ background-position: -5px -73px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.github24,
.cw-social-mod-icons-wpzoom-fadeout a.github24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.github24:active,
.cw-social-mod-icons-wpzoom-fadeout a.github24:focus{ background-position: -39px -73px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.gmail24,
.cw-social-mod-icons-wpzoom-fadeout a.gmail24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.gmail24:active,
.cw-social-mod-icons-wpzoom-fadeout a.gmail24:focus{ background-position: -73px -73px;;  } 
.cw-social-mod-icons-wpzoom-fadeout a.googleplus24,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus24:active,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus24:focus{ background-position: -107px -73px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt24,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt24:active,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt24:focus{ background-position: -141px -73px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.instagram24,
.cw-social-mod-icons-wpzoom-fadeout a.instagram24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.instagram24:active,
.cw-social-mod-icons-wpzoom-fadeout a.instagram24:focus{ background-position: -5px -107px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.itunes24,
.cw-social-mod-icons-wpzoom-fadeout a.itunes24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.itunes24:active,
.cw-social-mod-icons-wpzoom-fadeout a.itunes24:focus{ background-position: -39px -107px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.lastfm24,
.cw-social-mod-icons-wpzoom-fadeout a.lastfm24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.lastfm24:active,
.cw-social-mod-icons-wpzoom-fadeout a.lastfm24:focus{ background-position: -73px -107px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.linkedin24,
.cw-social-mod-icons-wpzoom-fadeout a.linkedin24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.linkedin24:active,
.cw-social-mod-icons-wpzoom-fadeout a.linkedin24:focus{ background-position: -107px -107px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.myspace24,
.cw-social-mod-icons-wpzoom-fadeout a.myspace24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.myspace24:active,
.cw-social-mod-icons-wpzoom-fadeout a.myspace24:focus{ background-position: -141px -107px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.newsvine24,
.cw-social-mod-icons-wpzoom-fadeout a.newsvine24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.newsvine24:active,
.cw-social-mod-icons-wpzoom-fadeout a.newsvine24:focus{ background-position: -5px -141px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.pinterest24,
.cw-social-mod-icons-wpzoom-fadeout a.pinterest24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.pinterest24:active,
.cw-social-mod-icons-wpzoom-fadeout a.pinterest24:focus{ background-position: -39px -141px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.reddit24,
.cw-social-mod-icons-wpzoom-fadeout a.reddit24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.reddit24:active,
.cw-social-mod-icons-wpzoom-fadeout a.reddit24:focus{ background-position: -73px -141px; } 
.cw-social-mod-icons-wpzoom-fadeout a.rss24,
.cw-social-mod-icons-wpzoom-fadeout a.rss24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.rss24:active,
.cw-social-mod-icons-wpzoom-fadeout a.rss24:focus{ background-position: -107px -141px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.spotify24,
.cw-social-mod-icons-wpzoom-fadeout a.spotify24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.spotify24:active,
.cw-social-mod-icons-wpzoom-fadeout a.spotify24:focus{ background-position: -141px -141px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon24,
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon24:active,
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon24:focus{ background-position: -175px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor24,
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor24:active,
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor24:focus{ background-position: -175px -39px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.tuenti24,
.cw-social-mod-icons-wpzoom-fadeout a.tuenti24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.tuenti24:active,
.cw-social-mod-icons-wpzoom-fadeout a.tuenti24:focus{ background-position: -175px -73px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.tumblr24,
.cw-social-mod-icons-wpzoom-fadeout a.tumblr24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.tumblr24:active,
.cw-social-mod-icons-wpzoom-fadeout a.tumblr24:focus{ background-position: -175px -107px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.twitter24,
.cw-social-mod-icons-wpzoom-fadeout a.twitter24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.twitter24:active,
.cw-social-mod-icons-wpzoom-fadeout a.twitter24:focus{ background-position: -175px -141px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.vimeo24,
.cw-social-mod-icons-wpzoom-fadeout a.vimeo24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.vimeo24:active,
.cw-social-mod-icons-wpzoom-fadeout a.vimeo24:focus{ background-position: -5px -175px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.weibo24,
.cw-social-mod-icons-wpzoom-fadeout a.weibo24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.weibo24:active,
.cw-social-mod-icons-wpzoom-fadeout a.weibo24:focus{ background-position: -39px -175px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp24,
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp24:active,
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp24:focus{ background-position: -73px -175px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.xing24,
.cw-social-mod-icons-wpzoom-fadeout a.xing24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.xing24:active,
.cw-social-mod-icons-wpzoom-fadeout a.xing24:focus{ background-position: -107px -175px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.youtube24,
.cw-social-mod-icons-wpzoom-fadeout a.youtube24:hover,
.cw-social-mod-icons-wpzoom-fadeout a.youtube24:active,
.cw-social-mod-icons-wpzoom-fadeout a.youtube24:focus{ background-position: -141px -175px;  } 

/* Size 32 styles
------------------------------------------------------------------------------- */
.cw-social-mod-icons-wpzoom-fadeout a[class$="32"]{  
    width: 32px;
    height: 32px;
    background: url(cw_social_32.png) 0 0 no-repeat;
    opacity:0.6;
    filter:alpha(opacity=60);
}

.cw-social-mod-icons-wpzoom-fadeout a[class$="32"]:hover{
    width: 32px;
    height: 32px;
    background: url(cw_social_32.png) 0 0 no-repeat;
    opacity:1.0;
    filter:alpha(opacity=100);
}

.cw-social-mod-icons-wpzoom-fadeout a.android32,
.cw-social-mod-icons-wpzoom-fadeout a.android32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.android32:active,
.cw-social-mod-icons-wpzoom-fadeout a.android32:focus{ background-position: -5px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.behance32,
.cw-social-mod-icons-wpzoom-fadeout a.behance32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.behance32:active,
.cw-social-mod-icons-wpzoom-fadeout a.behance32:focus{ background-position: -47px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.blogger32,
.cw-social-mod-icons-wpzoom-fadeout a.blogger32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.blogger32:active,
.cw-social-mod-icons-wpzoom-fadeout a.blogger32:focus{ background-position: -89px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.delicious32,
.cw-social-mod-icons-wpzoom-fadeout a.delicious32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.delicious32:active,
.cw-social-mod-icons-wpzoom-fadeout a.delicious32:focus{ background-position: -131px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.designmoo32,
.cw-social-mod-icons-wpzoom-fadeout a.designmoo32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.designmoo32:active,
.cw-social-mod-icons-wpzoom-fadeout a.designmoo32:focus{ background-position: -173px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.deviantart32,
.cw-social-mod-icons-wpzoom-fadeout a.deviantart32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.deviantart32:active,
.cw-social-mod-icons-wpzoom-fadeout a.deviantart32:focus{ background-position: -5px -47px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.digg32,
.cw-social-mod-icons-wpzoom-fadeout a.digg32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.digg32:active,
.cw-social-mod-icons-wpzoom-fadeout a.digg32:focus{ background-position: -47px -47px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.dribbble32,
.cw-social-mod-icons-wpzoom-fadeout a.dribbble32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.dribbble32:active,
.cw-social-mod-icons-wpzoom-fadeout a.dribbble32:focus{ background-position: -89px -47px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.ebay32,
.cw-social-mod-icons-wpzoom-fadeout a.ebay32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.ebay32:active,
.cw-social-mod-icons-wpzoom-fadeout a.ebay32:focus{ background-position: -131px -47px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.facebook32,
.cw-social-mod-icons-wpzoom-fadeout a.facebook32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.facebook32:active,
.cw-social-mod-icons-wpzoom-fadeout a.facebook32:focus{ background-position: -173px -47px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.flickr32,
.cw-social-mod-icons-wpzoom-fadeout a.flickr32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.flickr32:active,
.cw-social-mod-icons-wpzoom-fadeout a.flickr32:focus{ background-position: -5px -89px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.github32,
.cw-social-mod-icons-wpzoom-fadeout a.github32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.github32:active,
.cw-social-mod-icons-wpzoom-fadeout a.github32:focus{ background-position: -47px -89px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.gmail32,
.cw-social-mod-icons-wpzoom-fadeout a.gmail32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.gmail32:active,
.cw-social-mod-icons-wpzoom-fadeout a.gmail32:focus{ background-position: -89px -89px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.googleplus32,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus32:active,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus32:focus{ background-position: -131px -89px;  }
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt32,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt32:active,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt32:focus{ background-position: -173px -89px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.instagram32,
.cw-social-mod-icons-wpzoom-fadeout a.instagram32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.instagram32:active,
.cw-social-mod-icons-wpzoom-fadeout a.instagram32:focus{ background-position: -5px -131px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.itunes32,
.cw-social-mod-icons-wpzoom-fadeout a.itunes32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.itunes32:active,
.cw-social-mod-icons-wpzoom-fadeout a.itunes32:focus{ background-position: -47px -131px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.lastfm32,
.cw-social-mod-icons-wpzoom-fadeout a.lastfm32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.lastfm32:active,
.cw-social-mod-icons-wpzoom-fadeout a.lastfm32:focus{ background-position: -89px -131px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.linkedin32,
.cw-social-mod-icons-wpzoom-fadeout a.linkedin32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.linkedin32:active,
.cw-social-mod-icons-wpzoom-fadeout a.linkedin32:focus{ background-position: -131px -131px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.myspace32,
.cw-social-mod-icons-wpzoom-fadeout a.myspace32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.myspace32:active,
.cw-social-mod-icons-wpzoom-fadeout a.myspace32:focus{ background-position: -173px -131px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.newsvine32,
.cw-social-mod-icons-wpzoom-fadeout a.newsvine32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.newsvine32:active,
.cw-social-mod-icons-wpzoom-fadeout a.newsvine32:focus{ background-position: -5px -173px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.pinterest32,
.cw-social-mod-icons-wpzoom-fadeout a.pinterest32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.pinterest32:active,
.cw-social-mod-icons-wpzoom-fadeout a.pinterest32:focus{ background-position: -47px -173px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.reddit32,
.cw-social-mod-icons-wpzoom-fadeout a.reddit32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.reddit32:active,
.cw-social-mod-icons-wpzoom-fadeout a.reddit32:focus{ background-position: -89px -173px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.rss32,
.cw-social-mod-icons-wpzoom-fadeout a.rss32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.rss32:active,
.cw-social-mod-icons-wpzoom-fadeout a.rss32:focus{ background-position: -131px -173px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.spotify32,
.cw-social-mod-icons-wpzoom-fadeout a.spotify32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.spotify32:active,
.cw-social-mod-icons-wpzoom-fadeout a.spotify32:focus{ background-position: -173px -173px  } 
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon32,
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon32:active,
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon32:focus{ background-position: -215px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor32,
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor32:active,
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor32:focus{ background-position: -215px -47px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.tuenti32,
.cw-social-mod-icons-wpzoom-fadeout a.tuenti32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.tuenti32:active,
.cw-social-mod-icons-wpzoom-fadeout a.tuenti32:focus{ background-position: -215px -89px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.tumblr32,
.cw-social-mod-icons-wpzoom-fadeout a.tumblr32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.tumblr32:active,
.cw-social-mod-icons-wpzoom-fadeout a.tumblr32:focus{ background-position: -215px -131px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.twitter32,
.cw-social-mod-icons-wpzoom-fadeout a.twitter32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.twitter32:active,
.cw-social-mod-icons-wpzoom-fadeout a.twitter32:focus{ background-position: -215px -173px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.vimeo32,
.cw-social-mod-icons-wpzoom-fadeout a.vimeo32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.vimeo32:active,
.cw-social-mod-icons-wpzoom-fadeout a.vimeo32:focus{ background-position: -5px -215px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.weibo32,
.cw-social-mod-icons-wpzoom-fadeout a.weibo32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.weibo32:active,
.cw-social-mod-icons-wpzoom-fadeout a.weibo32:focus{ background-position: -47px -215px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp32,
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp32:active,
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp32:focus{ background-position: -89px -215px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.xing32,
.cw-social-mod-icons-wpzoom-fadeout a.xing32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.xing32:active,
.cw-social-mod-icons-wpzoom-fadeout a.xing32:focus{ background-position: -131px -215px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.youtube32,
.cw-social-mod-icons-wpzoom-fadeout a.youtube32:hover,
.cw-social-mod-icons-wpzoom-fadeout a.youtube32:active,
.cw-social-mod-icons-wpzoom-fadeout a.youtube32:focus{ background-position: -173px -215px;  } 

/* Size 48 styles
------------------------------------------------------------------------------- */
.cw-social-mod-icons-wpzoom-fadeout a[class$="48"]{
    width: 48px;
    height: 48px;
    background: url(cw_social_48.png) 0 0 no-repeat;
    opacity:0.6;
    filter:alpha(opacity=60);
}

.cw-social-mod-icons-wpzoom-fadeout a[class$="48"]:hover{
    width: 48px;
    height: 48px;
    background: url(cw_social_48.png) 0 0 no-repeat;
    opacity:1.0;
    filter:alpha(opacity=100);
}

.cw-social-mod-icons-wpzoom-fadeout a.android48,
.cw-social-mod-icons-wpzoom-fadeout a.android48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.android48:active,
.cw-social-mod-icons-wpzoom-fadeout a.android48:focus{ background-position: -5px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.behance48,
.cw-social-mod-icons-wpzoom-fadeout a.behance48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.behance48:active,
.cw-social-mod-icons-wpzoom-fadeout a.behance48:focus{ background-position: -63px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.blogger48,
.cw-social-mod-icons-wpzoom-fadeout a.blogger48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.blogger48:active,
.cw-social-mod-icons-wpzoom-fadeout a.blogger48:focus{ background-position: -121px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.delicious48,
.cw-social-mod-icons-wpzoom-fadeout a.delicious48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.delicious48:active,
.cw-social-mod-icons-wpzoom-fadeout a.delicious48:focus{ background-position: -179px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.designmoo48,
.cw-social-mod-icons-wpzoom-fadeout a.designmoo48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.designmoo48:active,
.cw-social-mod-icons-wpzoom-fadeout a.designmoo48:focus{ background-position: -237px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.deviantart48,
.cw-social-mod-icons-wpzoom-fadeout a.deviantart48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.deviantart48:active,
.cw-social-mod-icons-wpzoom-fadeout a.deviantart48:focus{ background-position: -5px -63px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.digg48,
.cw-social-mod-icons-wpzoom-fadeout a.digg48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.digg48:active,
.cw-social-mod-icons-wpzoom-fadeout a.digg48:focus{ background-position: -63px -63px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.dribbble48,
.cw-social-mod-icons-wpzoom-fadeout a.dribbble48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.dribbble48:active,
.cw-social-mod-icons-wpzoom-fadeout a.dribbble48:focus{ background-position: -121px -63px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.ebay48,
.cw-social-mod-icons-wpzoom-fadeout a.ebay48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.ebay48:active,
.cw-social-mod-icons-wpzoom-fadeout a.ebay48:focus{ background-position: -179px -63px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.facebook48,
.cw-social-mod-icons-wpzoom-fadeout a.facebook48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.facebook48:active,
.cw-social-mod-icons-wpzoom-fadeout a.facebook48:focus{ background-position: -237px -63px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.flickr48,
.cw-social-mod-icons-wpzoom-fadeout a.flickr48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.flickr48:active,
.cw-social-mod-icons-wpzoom-fadeout a.flickr48:focus{ background-position: -5px -121px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.github48,
.cw-social-mod-icons-wpzoom-fadeout a.github48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.github48:active,
.cw-social-mod-icons-wpzoom-fadeout a.github48:focus{ background-position: -63px -121px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.gmail48,
.cw-social-mod-icons-wpzoom-fadeout a.gmail48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.gmail48:active,
.cw-social-mod-icons-wpzoom-fadeout a.gmail48:focus{ background-position: -121px -121px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.googleplus48,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus48:active,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus48:focus{ background-position: -179px -121px;  }
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt48,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt48:active,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt48:focus{ background-position: -237px -121px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.instagram48,
.cw-social-mod-icons-wpzoom-fadeout a.instagram48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.instagram48:active,
.cw-social-mod-icons-wpzoom-fadeout a.instagram48:focus{ background-position: -5px -179px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.itunes48,
.cw-social-mod-icons-wpzoom-fadeout a.itunes48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.itunes48:active,
.cw-social-mod-icons-wpzoom-fadeout a.itunes48:focus{ background-position: -63px -179px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.lastfm48,
.cw-social-mod-icons-wpzoom-fadeout a.lastfm48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.lastfm48:active,
.cw-social-mod-icons-wpzoom-fadeout a.lastfm48:focus{ background-position: -121px -179px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.linkedin48,
.cw-social-mod-icons-wpzoom-fadeout a.linkedin48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.linkedin48:active,
.cw-social-mod-icons-wpzoom-fadeout a.linkedin48:focus{ background-position: -179px -179px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.myspace48,
.cw-social-mod-icons-wpzoom-fadeout a.myspace48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.myspace48:active,
.cw-social-mod-icons-wpzoom-fadeout a.myspace48:focus{ background-position: -237px -179px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.newsvine48,
.cw-social-mod-icons-wpzoom-fadeout a.newsvine48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.newsvine48:active,
.cw-social-mod-icons-wpzoom-fadeout a.newsvine48:focus{ background-position: -5px -237px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.pinterest48,
.cw-social-mod-icons-wpzoom-fadeout a.pinterest48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.pinterest48:active,
.cw-social-mod-icons-wpzoom-fadeout a.pinterest48:focus{ background-position: -63px -237px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.reddit48,
.cw-social-mod-icons-wpzoom-fadeout a.reddit48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.reddit48:active,
.cw-social-mod-icons-wpzoom-fadeout a.reddit48:focus{ background-position: -121px -237px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.rss48,
.cw-social-mod-icons-wpzoom-fadeout a.rss48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.rss48:active,
.cw-social-mod-icons-wpzoom-fadeout a.rss48:focus{ background-position: -179px -237px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.spotify48,
.cw-social-mod-icons-wpzoom-fadeout a.spotify48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.spotify48:active,
.cw-social-mod-icons-wpzoom-fadeout a.spotify48:focus{ background-position: -237px -237px  } 
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon48,
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon48:active,
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon48:focus{ background-position: -295px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor48,
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor48:active,
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor48:focus{ background-position: -295px -63px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.tuenti48,
.cw-social-mod-icons-wpzoom-fadeout a.tuenti48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.tuenti48:active,
.cw-social-mod-icons-wpzoom-fadeout a.tuenti48:focus{ background-position: -295px -121px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.tumblr48,
.cw-social-mod-icons-wpzoom-fadeout a.tumblr48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.tumblr48:active,
.cw-social-mod-icons-wpzoom-fadeout a.tumblr48:focus{ background-position: -295px -179px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.twitter48,
.cw-social-mod-icons-wpzoom-fadeout a.twitter48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.twitter48:active,
.cw-social-mod-icons-wpzoom-fadeout a.twitter48:focus{ background-position: -295px -237px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.vimeo48,
.cw-social-mod-icons-wpzoom-fadeout a.vimeo48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.vimeo48:active,
.cw-social-mod-icons-wpzoom-fadeout a.vimeo48:focus{ background-position: -5px -295px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.weibo48,
.cw-social-mod-icons-wpzoom-fadeout a.weibo48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.weibo48:active,
.cw-social-mod-icons-wpzoom-fadeout a.weibo48:focus{ background-position: -63px -295px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp48,
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp48:active,
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp48:focus{ background-position: -121px -295px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.xing48,
.cw-social-mod-icons-wpzoom-fadeout a.xing48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.xing48:active,
.cw-social-mod-icons-wpzoom-fadeout a.xing48:focus{ background-position: -179px -295px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.youtube48,
.cw-social-mod-icons-wpzoom-fadeout a.youtube48:hover,
.cw-social-mod-icons-wpzoom-fadeout a.youtube48:active,
.cw-social-mod-icons-wpzoom-fadeout a.youtube48:focus{ background-position: -237px -295px;  } 


/* Size 64 styles
------------------------------------------------------------------------------- */
.cw-social-mod-icons-wpzoom-fadeout a[class$="64"]{
    width: 64px;
    height: 64px;
    background: url(cw_social_64.png) 0 0 no-repeat;
    opacity:0.6;
    filter:alpha(opacity=60);
}

.cw-social-mod-icons-wpzoom-fadeout a[class$="64"]:hover{
    width: 64px;
    height: 64px;
    background: url(cw_social_64.png) 0 0 no-repeat;
    opacity:1.0;
    filter:alpha(opacity=100);
}

.cw-social-mod-icons-wpzoom-fadeout a.android64,
.cw-social-mod-icons-wpzoom-fadeout a.android64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.android64:active,
.cw-social-mod-icons-wpzoom-fadeout a.android64:focus{ background-position: -5px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.behance64,
.cw-social-mod-icons-wpzoom-fadeout a.behance64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.behance64:active,
.cw-social-mod-icons-wpzoom-fadeout a.behance64:focus{ background-position: -79px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.blogger64,
.cw-social-mod-icons-wpzoom-fadeout a.blogger64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.blogger64:active,
.cw-social-mod-icons-wpzoom-fadeout a.blogger64:focus{ background-position: -153px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.delicious64,
.cw-social-mod-icons-wpzoom-fadeout a.delicious64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.delicious64:active,
.cw-social-mod-icons-wpzoom-fadeout a.delicious64:focus{ background-position: -227px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.designmoo64,
.cw-social-mod-icons-wpzoom-fadeout a.designmoo64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.designmoo64:active,
.cw-social-mod-icons-wpzoom-fadeout a.designmoo64:focus{ background-position: -301px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.deviantart64,
.cw-social-mod-icons-wpzoom-fadeout a.deviantart64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.deviantart64:active,
.cw-social-mod-icons-wpzoom-fadeout a.deviantart64:focus{ background-position: -5px -79px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.digg64,
.cw-social-mod-icons-wpzoom-fadeout a.digg64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.digg64:active,
.cw-social-mod-icons-wpzoom-fadeout a.digg64:focus{ background-position: -79px -79px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.dribbble64,
.cw-social-mod-icons-wpzoom-fadeout a.dribbble64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.dribbble64:active,
.cw-social-mod-icons-wpzoom-fadeout a.dribbble64:focus{ background-position: -153px -79px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.ebay64,
.cw-social-mod-icons-wpzoom-fadeout a.ebay64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.ebay64:active,
.cw-social-mod-icons-wpzoom-fadeout a.ebay64:focus{ background-position: -227px -79px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.facebook64,
.cw-social-mod-icons-wpzoom-fadeout a.facebook64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.facebook64:active,
.cw-social-mod-icons-wpzoom-fadeout a.facebook64:focus{ background-position: -301px -79px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.flickr64,
.cw-social-mod-icons-wpzoom-fadeout a.flickr64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.flickr64:active,
.cw-social-mod-icons-wpzoom-fadeout a.flickr64:focus{ background-position: -5px -153px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.github64,
.cw-social-mod-icons-wpzoom-fadeout a.github64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.github64:active,
.cw-social-mod-icons-wpzoom-fadeout a.github64:focus{ background-position: -79px -153px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.gmail64,
.cw-social-mod-icons-wpzoom-fadeout a.gmail64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.gmail64:active,
.cw-social-mod-icons-wpzoom-fadeout a.gmail64:focus{ background-position: -153px -153px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.googleplus64,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus64:active,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus64:focus{ background-position: -227px -153px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt64,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt64:active,
.cw-social-mod-icons-wpzoom-fadeout a.googleplus-alt64:focus{ background-position: -301px -153px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.instagram64,
.cw-social-mod-icons-wpzoom-fadeout a.instagram64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.instagram64:active,
.cw-social-mod-icons-wpzoom-fadeout a.instagram64:focus{ background-position: -5px -227px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.itunes64,
.cw-social-mod-icons-wpzoom-fadeout a.itunes64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.itunes64:active,
.cw-social-mod-icons-wpzoom-fadeout a.itunes64:focus{ background-position: -79px -227px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.lastfm64,
.cw-social-mod-icons-wpzoom-fadeout a.lastfm64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.lastfm64:active,
.cw-social-mod-icons-wpzoom-fadeout a.lastfm64:focus{ background-position: -153px -227px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.linkedin64,
.cw-social-mod-icons-wpzoom-fadeout a.linkedin64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.linkedin64:active,
.cw-social-mod-icons-wpzoom-fadeout a.linkedin64:focus{ background-position: -227px -227px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.myspace64,
.cw-social-mod-icons-wpzoom-fadeout a.myspace64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.myspace64:active,
.cw-social-mod-icons-wpzoom-fadeout a.myspace64:focus{ background-position: -301px -227px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.newsvine64,
.cw-social-mod-icons-wpzoom-fadeout a.newsvine64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.newsvine64:active,
.cw-social-mod-icons-wpzoom-fadeout a.newsvine64:focus{ background-position: -5px -301px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.pinterest64,
.cw-social-mod-icons-wpzoom-fadeout a.pinterest64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.pinterest64:active,
.cw-social-mod-icons-wpzoom-fadeout a.pinterest64:focus{ background-position: -79px -301px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.reddit64,
.cw-social-mod-icons-wpzoom-fadeout a.reddit64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.reddit64:active,
.cw-social-mod-icons-wpzoom-fadeout a.reddit64:focus{ background-position: -153px -301px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.rss64,
.cw-social-mod-icons-wpzoom-fadeout a.rss64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.rss64:active,
.cw-social-mod-icons-wpzoom-fadeout a.rss64:focus{ background-position: -227px -301px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.spotify64,
.cw-social-mod-icons-wpzoom-fadeout a.spotify64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.spotify64:active,
.cw-social-mod-icons-wpzoom-fadeout a.spotify64:focus{ background-position: -301px -301px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon64,
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon64:active,
.cw-social-mod-icons-wpzoom-fadeout a.stumbleupon64:focus{ background-position: -375px -5px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor64,
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor64:active,
.cw-social-mod-icons-wpzoom-fadeout a.tripadvisor64:focus{ background-position: -375px -79px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.tuenti64,
.cw-social-mod-icons-wpzoom-fadeout a.tuenti64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.tuenti64:active,
.cw-social-mod-icons-wpzoom-fadeout a.tuenti64:focus{ background-position: -375px -153px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.tumblr64,
.cw-social-mod-icons-wpzoom-fadeout a.tumblr64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.tumblr64:active,
.cw-social-mod-icons-wpzoom-fadeout a.tumblr64:focus{ background-position: -375px -227px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.twitter64,
.cw-social-mod-icons-wpzoom-fadeout a.twitter64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.twitter64:active,
.cw-social-mod-icons-wpzoom-fadeout a.twitter64:focus{ background-position: -375px -301px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.vimeo64,
.cw-social-mod-icons-wpzoom-fadeout a.vimeo64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.vimeo64:active,
.cw-social-mod-icons-wpzoom-fadeout a.vimeo64:focus{ background-position: -5px -375px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.weibo64,
.cw-social-mod-icons-wpzoom-fadeout a.weibo64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.weibo64:active,
.cw-social-mod-icons-wpzoom-fadeout a.weibo64:focus{ background-position: -79px -375px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp64,
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp64:active,
.cw-social-mod-icons-wpzoom-fadeout a.whatsapp64:focus{ background-position: -153px -375px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.xing64,
.cw-social-mod-icons-wpzoom-fadeout a.xing64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.xing64:active,
.cw-social-mod-icons-wpzoom-fadeout a.xing64:focus{ background-position: -227px -375px;  } 
.cw-social-mod-icons-wpzoom-fadeout a.youtube64,
.cw-social-mod-icons-wpzoom-fadeout a.youtube64:hover,
.cw-social-mod-icons-wpzoom-fadeout a.youtube64:active,
.cw-social-mod-icons-wpzoom-fadeout a.youtube64:focus{ background-position: -301px -375px;  } 

/* Count Badge
----------------------------------------------------------------------------------------------------*/

.cw-social-mod-icons-wpzoom-fadeout a[class*="googleplus"]::before,
.cw-social-mod-icons-wpzoom-fadeout a[class*="reddit"]::before,
.cw-social-mod-icons-wpzoom-fadeout a[class*="facebook"]::before,
.cw-social-mod-icons-wpzoom-fadeout a[class*="stumbleupon"]::before,
.cw-social-mod-icons-wpzoom-fadeout a[class*="linkedin"]::before,
.cw-social-mod-icons-wpzoom-fadeout a[class*="pinterest"]::before{
    content: attr(data-count);
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 500px;
    border: medium none;
    background: #41A9BE none repeat scroll 0% 0%;
    color: #FFF;
    position: absolute;
    left: auto;
    font-weight:bold;
    vertical-align: middle;
    text-transform: none;
}

/* Size 16
------------------------------------------------------------------------------- */

.cw-social-mod-icons-wpzoom-fadeout  a.cw-count16 { 
    margin: 8px 10px 0px 0px !important;
}

.cw-social-mod-icons-wpzoom-fadeout  a.cw-nocount16 { 
    margin: 8px 2px 0px 0px !important;
}

.cw-social-mod-icons-wpzoom-fadeout a[class$="16"]::before{
    padding: 0px 4px;
    min-width: 18px;
    font-size: 8px;
    line-height: 18px;
    top: -10px;
    right: -12px;
}

/* Size 24
------------------------------------------------------------------------------- */

.cw-social-mod-icons-wpzoom-fadeout  a.cw-count24 { 
    margin: 8px 10px 0px 0px !important;
}

.cw-social-mod-icons-wpzoom-fadeout  a.cw-nocount24 { 
    margin: 8px 4px 0px 0px !important;
}

.cw-social-mod-icons-wpzoom-fadeout a[class$="24"]::before{
    padding: 0px 4px;
    min-width: 20px;
    font-size: 10px;
    line-height: 20px;
    top: -8px;
    right: -12px;
}

/* Size 32
------------------------------------------------------------------------------- */

.cw-social-mod-icons-wpzoom-fadeout  a.cw-count32 { 
    margin: 8px 15px 0px 0px !important;
}

.cw-social-mod-icons-wpzoom-fadeout  a.cw-nocount32 { 
    margin: 8px 6px 0px 0px !important;
}

.cw-social-mod-icons-wpzoom-fadeout a[class$="32"]::before{
    padding: 0px 6px;
    min-width: 22px;
    font-size: 12px;
    line-height: 22px;
    top: -10px;
    right: -15px;
}

/* Size 48
------------------------------------------------------------------------------- */

.cw-social-mod-icons-wpzoom-fadeout  a.cw-count48 { 
    margin: 8px 15px 0px 0px !important;
}

.cw-social-mod-icons-wpzoom-fadeout  a.cw-nocount48 { 
    margin: 8px 6px 0px 0px !important;
}

.cw-social-mod-icons-wpzoom-fadeout a[class$="48"]::before{
    padding: 0px 6px;
    min-width: 22px;
    font-size: 12px;
    line-height: 22px;
    top: -10px;
    right: -15px;
}

/* Size 64
------------------------------------------------------------------------------- */

.cw-social-mod-icons-wpzoom-fadeout  a.cw-count64 { 
    margin: 8px 15px 0px 0px !important;
}

.cw-social-mod-icons-wpzoom-fadeout  a.cw-nocount64 { 
    margin: 8px 8px 0px 0px !important;
}

.cw-social-mod-icons-wpzoom-fadeout a[class$="64"]::before{
    padding: 0px 6px;
    min-width: 26px;
    font-size: 14px;
    line-height: 26px;
    top: -10px;
    right: -15px;
}

/* End
------------------------------------------------------------------------------- */